<script type="text/javascript">
  $(document).ready(function(){
    <% @modulos.each do |modulo| %>
      $("#modulo-<%= modulo.modulo_id%>").click(function(){
        var modulo = <%= modulo.modulo_id%>;
        $.ajax({
          method: 'GET',
          url: '/modulos_pessoas/setar_modulo',
          data: {modulo_id: modulo}
        })
        .done(function(retorno) {	
          window.location.replace("<%=root_path%>");
        });
      });
    <% end %>
  });
</script>

<div class="middle-box text-center loginscreen  animated fadeInDown">
	<h2>Selecione o Módulo</h2><br>
	<div class="row">
		<%@modulos.each do |modulo| %>
		  <a href="javascript:void(0);" id="modulo-<%= modulo.modulo_id%>" void>
				<div class="col-lg-12">
					<div class="widget style1 navy-bg">
						<div class="row" id="align-icon">
							<div class="col-lg-3" align="center">
								<i class="fa fa-user fa-3x"></i>
							</div>
							<div class="col-lg-9" align="center">
								<div class="chat-user-name" style="font-weight: bold;"><%= Modulo.find_by(id: modulo.modulo_id, ativo: true).nome%></div>
							</div>
						</div>
					</div>
				</div>
			</a>
		<%end%>
	</div>   
</div>