<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="row">
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 ">
              <h4><%= link_to '<i class="fa fa-plus"></i> Novo'.html_safe, new_modulos_pessoa_path, :class => 'btn btn-white', :title => 'Novo Perfil de Acesso' %></h4>
            </div>
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11 ">
              <div style="text-align:center">
                <h2>Módulos das Pessoas <span class="badge badge-primary"><%= @modulos_pessoas.count %></span></h2>
              </div>
            </div>
          </div>
        </div>
        <p id="notice">
          <center class="alert-info">
            <%= notice %> 
          </center>
        </p>
        <% @modulos_pessoas.each do |modulos_pessoa| %>
          <div class="col-md-4">
            <div class="ibox-content">
              <div class="row">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
                  <h2>
                    <%= modulos_pessoa.modulo_id.nil? ? "" : Modulo.find(modulos_pessoa.modulo_id).nome %>
                  </h2>
                  <p><b>Pessoa: </b><%= modulos_pessoa.pessoa_id.nil? ? "" : Pessoa.find(modulos_pessoa.pessoa).nome %></p>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
                  <a class="dropdown-toggle btn btn-white" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                    <li>
                      <%= link_to '<i class="fa fa-search"></i> Visualizar'.html_safe,  modulos_pessoa, :title => 'Visualizar' %>
                    </li>
                    <li>
                      <%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_modulos_pessoa_path(modulos_pessoa), :title => 'Editar' %>
                    </li>
                    <li>
                      <%= link_to '<i class="fa fa-trash"></i> Deletar'.html_safe,  modulos_pessoa, method: :delete, data: { confirm: 'Tem certeza?' }, :title => 'Deletar' %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>