<%= form_for(@minha_listum) do |f| %>
  <% if @minha_listum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@minha_listum.errors.count, "error") %> prohibited this minha_listum from being saved:</h2>

      <ul>
      <% @minha_listum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form class="form-horizontal">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label :conteudo_id %><br>
          <%= f.text_field :conteudo_id, class: "form-control", :required => true %>
        </div>
        <div class="form-group">
          <%= f.label :pessoa_id %><br>
          <%= f.text_field :pessoa_id, class: "form-control", :required => true %>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= button_tag(type: 'submit', class: "btn btn-white ", title: 'Salvar') do %>
        <i class="fa fa-save"></i> Salvar
      <% end %>
    </div>
  </form>
<% end %>
