<script type="text/javascript">
$(document).ready(function(){
      <% if @notice_pass == true %>
        //$('#modal-alert').modal('show');
        swal({
          title: "<%= @notice %>",
          type: "success",
          closeOnClickOutside: true,
          timer: 3000,
          confirmButtonColor: "#222",
          confirmButtonText: "OK",
          closeOnConfirm: true
        });
      <% end %>
      <% if @notice_lista == true %>
         swal({
          title: "<%= @aviso %>",
          type: "warning",
          closeOnClickOutside: true,
          timer: 3000,
          confirmButtonColor: "#222",
          confirmButtonText: "OK",
          closeOnConfirm: true
        });
      <% end %>
<% @minhas_listas.each do |minha_lista| %>   
    $("#deleta_lista-<%= minha_lista.id %>").click(function(){
        $.ajax({

          method: 'GET',
          url: '/minha_lista/deleta_lista',
          data: {minha_lista_id: <%= minha_lista.id %>}

        })
        .done(function(retorno){
          $("#minha_lista_partial").html(retorno);
        });
    });
  <% end %>
});
</script>

<div class="col-lg-10 col-lg-offset-1">
  <h2 class="text-center m" style="text-align: left; margin-bottom: -20px;">MINHA LISTA</h2>
  <div class="slick_demo_4">
    <% @minhas_listas.each do |minha_lista| %>
      <div style="margin-top: 30px;">
        <!-- <a href="<%#= pages_curso_url %>" class= "a"> -->
          <div class="ibox-content draggable">
            <button id="deleta_lista-<%= minha_lista.id %>" class="btn btn-primary btn-circle" type="button" title="Remover da minha lista" style="margin-right: -30px; margin-top: -30px;"><i class="fa fa-times"></i></button>

            <div align="center">
              <tr>
                <td width="200">
                  <%= image_tag(Conteudo.where(id: minha_lista.conteudo_id).first.image, class: "img-box img-responsive", style: "width:200px; height: auto;")%>
                </td>
              </tr>
            </div>

            <h3><%= Conteudo.where(id: minha_lista.conteudo_id, ativo: true).first.nome %></h3>
            <%# AutorConteudoConteudo.joins(:autor_conteudo).where(conteudo_id: Conteudo.where(id: minha_lista.conteudo_id, ativo: true).first.id).each do |autorConteudoConteudo| %>
              <!-- <p><%#= AutorConteudo.find(autorConteudoConteudo.autor_conteudo_id).nome if !autorConteudoConteudo.autor_conteudo_id.blank? %></p> -->
            <%# end %>

            <!--<#% AutorConteudoConteudo.joins(:autor_conteudo).where(conteudo_id: Conteudo.where(id: minha_lista.conteudo_id, ativo: true).first.id).each do |autorConteudoConteudo| %>
              <h3><%#= Conteudo.where(id: minha_lista.conteudo_id, ativo: true).first.nome %></h3>
              <p><%#= AutorConteudo.find(autorConteudoConteudo.autor_conteudo_id).nome if !autorConteudoConteudo.autor_conteudo_id.blank? %></p>
            <#% end %> -->

            <div class="row">
                <div class="col-sm-6 col-xs-6">
                  <button class="btn btn-primary btn-sm pull-left" title= "adicionar ao carrinho" ><i class="fa fa-cart-plus"></i></button>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <h4 align="right" class="pull-right">
                      <%= number_to_currency(Conteudo.where(id: minha_lista.conteudo_id, ativo: true).first.preco_sugerido, unit: "R$ ", separator: ",", delimiter: ".", precision: 2) %>
                    </h4>
                </div>
              </div>            

           <!--  <a href="<%#= carrinhos_path %>" title="Carrinho" class= "a">
              <#% if !@busca_carrinho.blank? %>
                <span class="badge badge-primary pull-right" style="margin-left: -15px;z-index: 60"><%#= @busca_carrinho.count %></span>
              <#% end %>
              <button class="btn btn-outline" type="button" title="Carrinho de compras"><i class="fa fa-shopping-cart" style="font-size:22px; margin-top: -3px; margin-left: 3px;display: block;"></i></button>
            </a> -->
          </div>
        <!-- </a> -->
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
	  .slick_demo_4 .ibox-content {
      margin: 0 10px;
      max-width: 250px;
      min-height: 280px; 
      max-height: 280px;
      box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  }

  .carousel{
    margin: -10px;
  }

  .a{
    color: #676a6c;
  }

  .img-box{

    width: 280px;
    margin-left: -10px;
  }
</style>
      <script type="text/javascript">
      	$('.slick_demo_4').slick({
          infinite: true,
          slidesToShow: 3,
          slidesToScroll: 1,
          centerMode: true,
          responsive: [
              {
                  breakpoint: 1024,
                  settings: {
                      slidesToShow: 3,
                      slidesToScroll: 3,
                      infinite: true,
                      dots: true
                  }
              },
              {
                  breakpoint: 600,
                  settings: {
                      slidesToShow: 2,
                      slidesToScroll: 2
                  }
              },
              {
                  breakpoint: 480,
                  settings: {
                      slidesToShow: 1,
                      slidesToScroll: 1
                  }
              }
          ]
      });
      </script>