<%= form_for(@empresas_pessoa) do |f| %>
  <% if @empresas_pessoa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresas_pessoa.errors.count, "error") %> prohibited this empresas_pessoa from being saved:</h2>

      <ul>
      <% @empresas_pessoa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <form class="form-horizontal">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label :pessoa_id, "Pessoa:" %> <e style="color: black">*</e>
          <%= f.select :pessoa_id, Pessoa.where(ativo: true).collect {|u| [u.nome, u.id]}, {:prompt => 'Selecione a Pessoa'}, class: "form-control", :required => true  %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label :empresa_id, "Empresa:" %> <e style="color: black">*</e>
          <%= f.select :empresa_id, Empresa.where(ativo: true).collect {|u| [u.nome, u.id]}, {:prompt => 'Selecione a Empresa'}, class: "form-control", :required => true  %>
        </div>
      </div>
    </div>
    <div class="actions ">
      <%= button_tag(type: 'submit', class: "btn btn-white ", title: 'Salvar') do %>
        <i class="fa fa-save"></i> Salvar
      <% end %>
    </div>
  </form>
<% end %>