<h2>Cadastre-se</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, "Email" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.label :password, "Senha" %>
    <% if @minimum_password_length %>
    <em>(mínimo de <%= @minimum_password_length %> caracteres)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmar Senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"  %>
  </div><br>    

  <div class="actions">
    <%= f.submit "Cadastrar", class: "btn btn-primary btn-block" %>
  </div><br>
<% end %>

<%= render "devise/shared/links" %>
