<script type="text/javascript">
	$(document).ready(function(){
    <% if @notice_pass_carrinho == true %>
    	//$('#modal-add-carrinho').modal('show');
        swal({
          title: "<%= @notice %>",
          type: "warning",
          closeOnClickOutside: true,
          timer: 3000,
          confirmButtonColor: "#222",
          confirmButtonText: "OK",
          closeOnConfirm: true
        });
		<% end %>
    <% if @notice_carrinho == true %>
        swal({
          title: "<%= @notice %>",
          type: "success",
          closeOnClickOutside: true,
          timer: 3000,
          confirmButtonColor: "#222",
          confirmButtonText: "OK",
          closeOnConfirm: true
        });
    <% end %>
	});
</script>


<!-- <a href="<%= carrinhos_path %>" class= "a">
  <div>
      <button class="btn btn-circle btn-lg" type="button" title="Carrinho de compras" style="margin-top: 10px;">
        <i class="fa fa-shopping-cart" style="font-size:28px; margin-left: -5px;"></i>
      </button>
  	<#% if !@busca_carrinho.blank? %>
  		<span class="badge badge-warning pull-right">
  			<%= @busca_carrinho.count %>
  		</span>
  	<#% end %>
  </div>
</a> -->
<a href="<%= carrinhos_path %>" title="Carrinho" class= "a">
  <% if !@busca_carrinho.blank? %>
    <span class="badge badge-primary pull-right" style="margin-left: -15px;z-index: 60"><%= @busca_carrinho.count %></span>
  <% end %>
  <button class="btn btn-outline" type="button" title="Carrinho de compras"><i class="fa fa-shopping-cart" style="font-size:22px; margin-top: -3px; margin-left: 3px;display: block;"></i></button>
</a>
<div class="modal fade" id="modal-add-carrinho" style="z-index: 3000 !important;">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <center><h3><%= @notice %></h3></center>
      </div>
  	</div>
  </div>
</div>
<style type="text/css">
  #.modal-backdrop {
    !z-index: 2040 !important;
  }

</style>