<!-- <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
          <h2>Carrinho de compras</h2>
      </div>
      <div class="col-lg-2">

      </div>
  </div> -->
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

      <% if @itens_carrinhos.count == 0 %>
        <div class="col-lg-12">
          <div class="middle-box text-center animated fadeInRightBig">
            <i class="fa fa-shopping-cart" style="font-size: 200px; color: #e8e9eb;"></i>
              <h3 class="font-bold">Seu carrinho está vazio :( </h3>
              <div class="error-desc">
                Continue acessando a plataforma para encontrar um conteúdo!<br>
                <br><%= link_to 'Continuar comprando'.html_safe, pages_index_path, :class => 'btn btn-primary', :style => 'font-size: 17px;'%>
              </div>
          </div>
        </div>
      <% else %>
        <div class="col-md-9">
            <div class="ibox">
                <div class="ibox-title">
                    
                    <span class="pull-right">(<strong><%= @itens_carrinhos.count %></strong>) itens</span>
                    <h5>Itens no seu carrinho </h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">
                            <tbody>
                            <% @valor_total_carrinho = 0 %>
                            <% @itens_carrinhos.each do |itens_carrinho| %>
                              <tr>
                                  <td width="200">
                                    <img src="<%= itens_carrinho.conteudo.image %>" style="width:200px; height: auto;">
                                  </td>
                                  <td class="desc">
                                      <h3>
                                          <a href="#" class="text-navy">
                                              <!-- Desktop publishing software -->
                                            <%= itens_carrinho.nome %>
                                          </a>
                                      </h3>
                                      <!-- <dl class="small m-b-none">
                                          <dt>Autor(es) do conteúdo:</dt>
                                          <ul>
                                            <%# @autor = AutorConteudoConteudo.where(id: carrinho.autor_conteudo_conteudo_id) %>
                                            <%# @autor.each do |autor| %>
                                              <li><%#= AutorConteudo.find(autor.autor_conteudo_id).nome if !autor.autor_conteudo_id.blank? %></li>
                                            <%# end %>
                                          </ul>
                                      </dl> -->

                                      <div class="m-t-sm">
                                          <!-- <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>
                                          | -->
                                          <a href="" class="a" id="deleta_item-<%= itens_carrinho.id %>"><i class="fa fa-trash"></i> Remover item</a>
                                      </div>
                                  </td>
                                  <!-- <td>
                                      $180,00
                                      <s class="small text-muted">$230,00</s>
                                  </td> -->
                                  <!-- <td width="65">
                                      <input type="text" class="form-control" placeholder="1">
                                  </td> -->
                                  <td>
                                      <h4>
                                        <% @valor_total_carrinho = @valor_total_carrinho.to_d + itens_carrinho.preco_sugerido.to_d %>
                                        <%= number_to_currency(itens_carrinho.preco_sugerido.to_d, unit: "R$ ", separator: ",", delimiter: ".", precision: 2) %>
                                      </h4>
                                  </td>
                              </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </div>

                </div>
              <div class="ibox-content">

                  <button class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart"></i> Finalizar compra</button>
                  <%= link_to '<i class="fa fa-arrow-left"></i> Continuar comprando'.html_safe, pages_index_path, :class => 'btn btn-white'%>

              </div>
          </div>
      </div>
      <div class="col-md-3">

          <div class="ibox">
              <div class="ibox-title">
                  <h5>Total</h5>
              </div>
              <div class="ibox-content">
                  <h2 class="font-bold">
                    <%= number_to_currency(@valor_total_carrinho, unit: "R$ ", separator: ",", delimiter: ".", precision: 2) %>
                  </h2>

                  <hr/>
                  <div class="m-t-sm">
                      <div class="btn-group">
                          <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Finalizar</a>
                          <a href="#" class="btn btn-white btn-sm"> Cancelar compra</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
<% end %>

<style type="text/css">
  a{
    color: black;
  }
  a:hover{
    color: #676a6c;
  }
</style>
  <script type="text/javascript">
    $(document).ready(function(){
      <% @itens_carrinhos.each do |itens_carrinho| %>   
        $("#deleta_item-<%= itens_carrinho.id %>").click(function(e){
            e.preventDefault();
            $.ajax({
              method: 'GET',
              url: '/carrinhos/deleta_item',
              data: {itens_carrinho_id: <%= itens_carrinho.id %>}

            })
            .done(function(retorno){
              $("#carrinho_partial").html(retorno);
            });
        });
      <% end %>
    });
  </script>