<%= form_for(@carrinho) do |f| %>
  <% if @carrinho.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carrinho.errors.count, "error") %> prohibited this carrinho from being saved:</h2>
      <ul>
      <% @carrinho.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :conteudo_tipo_id %><br>
    <%= f.text_field :conteudo_tipo_id %>
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :autor_conteudo_id %><br>
    <%= f.text_field :autor_conteudo_id %>
  </div>
  <div class="field">
    <%= f.label :preco_sugerido %><br>
    <%= f.text_field :preco_sugerido %>
  </div>
  <div class="field">
    <%= f.label :ativo %><br>
    <%= f.check_box :ativo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
