<div id="carrinho_partial">
  <!-- <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>Carrinho de compras</h2>
        <ol class="breadcrumb">
          <li>
            <a href="<%#= pages_index_path %>" style = "font-size: 15px;" title="home"><i class="fa fa-home" aria-hidden="true"></i></a>
          </li>
          <li class="active">
            <strong>Carrinho</strong>
          </li>
        </ol>
      </div>
      <div class="col-lg-2">

      </div>
  </div> -->
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

      <% if @itens_carrinhos.count == 0 %>
        <div class="col-lg-12">
          <div class="middle-box text-center animated fadeInRightBig">
            <i class="fa fa-shopping-cart" style="font-size: 200px; color: #e8e9eb;"></i>
              <h3 class="font-bold">Seu carrinho está vazio :( </h3>
              <div class="error-desc">
                Continue acessando a plataforma para encontrar um conteúdo!<br>
                <br><%= link_to 'Continuar comprando'.html_safe, pages_index_path, :class => 'btn btn-primary', :style => 'font-size: 17px;'%>
              </div>
          </div>
        </div>
      <% else %>
        <div class="col-md-9">
            <div class="ibox">
              <div class="ibox-title">
                <span class="pull-right">(<strong><%= @itens_carrinhos.count %></strong>) itens</span>
                <h5>Itens no seu carrinho </h5>
              </div>
              <div class="ibox-content">
                <div class="table-responsive">
                  <table class="table shoping-cart-table">
                    <tbody>
                      <% @valor_total_carrinho = 0 %>
                      <% @itens_carrinhos.each do |itens_carrinho| %>
                        <tr>
                          <td width="200">
                            <img src="<%= itens_carrinho.conteudo.image %>" style="width:200px; height: auto;">
                          </td>
                          <td class="desc">
                            <h3>
                              <a href="#" class="text-navy">
                                <%= itens_carrinho.nome %>
                              </a>
                            </h3>
                                <!--<ul>
                                <#% AutorConteudoConteudo.where(conteudo_id: itens_carrinho.conteudo_id).each do |autor_conteudo_conteudo| %>
                                  <#% AutorConteudo.where(id: autor_conteudo_conteudo.autor_conteudo_id).each do |autor_conteudo| %>
                                    <li><#%= autor_conteudo.nome%></li>
                                  <#% end %>
                                <#% end %> 
                                </ul> -->
                            <!-- <dl class="small m-b-none">
                              <dt>Autor(es) do conteúdo:</dt>
                                <%# @autor = AutorConteudoConteudo.where(conteudo_id: itens_carrinho.conteudo_id) %>
                                <%# @autor.each do |autor| %>
                                  <ul style="list-style-type: none;">
                                    <li><%#= autor.autor_conteudo_id.blank? ? "" : Pessoa.find_by(usuario_id: current_usuario.id).nome %></li>
                                  </ul>
                                <%#end%>
                            </dl> -->
                            <div class="m-t-sm">
                              <!-- <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>
                                          | -->
                              <!-- <button class="text-muted" id="deleta_item-<%#= itens_carrinho.id %>" ><i class="fa fa-trash"></i> Remover item</button> -->
                              <a href="" class="a" id="deleta_item-<%= itens_carrinho.id %>"><i class="fa fa-trash"></i> Remover item</a>
                            </div>
                          </td>
                          <td>
                            <h4>
                              <% @valor_total_carrinho = @valor_total_carrinho.to_d + itens_carrinho.preco_sugerido.to_d %>
                               <%= number_to_currency(itens_carrinho.preco_sugerido.to_d, unit: "R$ ", separator: ",", delimiter: ".", precision: 2) %>
                            </h4>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="ibox-content">
                <%= link_to(finaliza_compra_carrinhos_path, :class => 'btn btn-primary pull-right', :title => 'Finalizar compra', :style => 'min-width: 100px;') do %>
                  <i class="fa fa-shopping-cart"></i> Finalizar compra
                <%end%>
                 <%= link_to '<i class="fa fa-arrow-left"></i> Continuar comprando'.html_safe, pages_index_path, :class => 'btn btn-white'%>
                  <!--  <div class="row"> -->
                  <!-- <div class="col-lg-9">
                  <%#= link_to '<i class="fa fa-arrow-left"></i> Continuar comprando'.html_safe, pages_index_path, :class => 'btn btn-white'%>
                  </div> -->
                  <!-- <div class= "col-lg-3"> -->
                    <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
                      <!-- <form action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post" onsubmit="PagSeguroLightbox(this); return false;"> -->
                      <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                      <!-- <input type="hidden" name="itemCode" value="57E7BE11A3A3ADEAA4EFFFB7A3C1F96B" />
                      <input type="hidden" name="iot" value="button" />
                      <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/205x30-comprar-preto.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                      </form>
                      <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script> -->
                    <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
                  <!-- </div> -->
                <!-- </div> -->
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="ibox">
              <div class="ibox-title">
                <h5>Total</h5>
              </div>
              <div class="ibox-content">
                <h2 class="font-bold">
                  <!-- R$ <%#= @valor_total_carrinho%> -->
                  <!-- R<%#= number_to_currency(@valor_total_carrinho) %> -->
                  <%= number_to_currency(@valor_total_carrinho, unit: "R$ ", separator: ",", delimiter: ".", precision: 2) %>
                </h2>
                <hr/>
                <div class="m-t-sm">
                  <!-- <div class="btn-group"> -->
                      <!-- <a href="#" class="btn btn-primary btn-sm" style="min-width: 116px;"><i class="fa fa-shopping-cart"></i> Finalizar</a> -->
                      <%= link_to(finaliza_compra_carrinhos_path, :class => 'btn btn-primary btn-sm', :title => 'Finalizar compra', :style => 'min-width: 100px;') do %>
                        <i class="fa fa-shopping-cart"></i> Finalizar
                      <%end%>
                      <a href="#" class="btn btn-white btn-sm"> Cancelar compra</a>

                  <!-- </div> -->
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
<style type="text/css">
  .a{
    color: black;
  }
  .a:hover{
    color: #676a6c;
  }
</style>
  <script type="text/javascript">
    $(document).ready(function(){
      <% @itens_carrinhos.each do |itens_carrinho| %>   
        $("#deleta_item-<%= itens_carrinho.id %>").click(function(e){
            e.preventDefault();
            $.ajax({
              method: 'GET',
              url: '/carrinhos/deleta_item',
              data: {itens_carrinho_id: <%= itens_carrinho.id %>}

            })
            .done(function(retorno){
              $("#carrinho_partial").html(retorno);
            });
        });
      <% end %>
    });
  </script>