<p id="notice"><%= notice %></p>

<p>
  <strong>Conteudo tipo:</strong>
  <%= @carrinho.conteudo_tipo %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @carrinho.nome %>
</p>

<p>
  <strong>Autor conteudo:</strong>
  <%= @carrinho.autor_conteudo %>
</p>

<p>
  <strong>Preco sugerido:</strong>
  <%= @carrinho.preco_sugerido %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @carrinho.ativo %>
</p>

<%= link_to 'Edit', edit_carrinho_path(@carrinho) %> |
<%= link_to 'Back', carrinhos_path %>
