<!--<%#= raise current_usuario.inspect %> -->
<div class="nested-fields"
	<div class="form-group">
		<div class="input-group">
			<%= f.select :autor_conteudo_id, Pessoa.joins([modulos_pessoas: :modulo], [modulos_pessoas: :autor_conteudos]).where("pessoas.ativo = ? AND modulos_pessoas.ativo = ? AND modulos.nome = ? AND modulos.ativo = ? AND autor_conteudos.ativo = ?", true, true, 'Gerador de conteúdo', true, true).collect {|u| [(u.nome if !u.nome.nil?), (u.id if !u.id.nil?)]}, {:prompt => 'Selecione o autor do conteúdo'}, placeholder: "Autor do conteúdo", class: "form-control", :required => true %>
			<span class="input-group-btn">
 				<!-- COMENTÁRIO: link_to_remove_association é o helper que o cocoon nos fornece para deletar algum nested  -->
 			 	<%= link_to_remove_association '<i class="fa fa-trash"></i>'.html_safe, f ,class: "btn btn-white"%>
			</span>
		</div>
	</div>
</div>