<%= form_for(@conteudo, {:multipart => true}) do |f| %>
  <% if @conteudo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conteudo.errors.count, "error") %> prohibited this conteudo from being saved:</h2>

      <ul>
      <% @conteudo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form class="form-horizontal">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <%= f.label :canai_id, "Canal:" %> <e style="color: black">*</e>
            <%= f.select :canai_id, Canai.where(ativo: true).collect {|u| [(u.nome if !u.nome.nil?), (u.id if !u.id.nil?)]}, {:prompt => 'Selecione o canal'}, class: "form-control", :required => true  %>
          </div>
          <div class="form-group">
            <%= f.label :conteudo_tipo_id, "Tipo de conteúdo:" %> <e style="color: black">*</e>
            <%= f.select :conteudo_tipo_id, ConteudoTipo.where(ativo: true).collect {|u| [(u.nome if !u.nome.nil?), (u.id if !u.id.nil?)]}, {:prompt => 'Selecione o tipo de conteúdo'}, class: "form-control", :required => true  %>
          </div>
          <div class="form-group">
            <%= f.label :nome, "Título:" %><e style="color: black">*</e><br>
            <%= f.text_field :nome, class: "form-control", :required => true %>
          </div>
          <div class="form-group">
            <!-- <div id="autor_conteudo_conteudos"> -->
              <!-- <label>Autores do conteúdo:</label><e style="color: black">*</e> -->
              <%#= f.fields_for :autor_conteudo_conteudos do |autor_conteudo_conteudo| %>
                <!-- COMENTÁRIO:
                  é uma exigencia também que os campos do seu nested esteja numa partial "nome_do_seu_nested_no_singular_fields"
                  no nosso caso _experience_fields.html.erb
                -->
                  <%#= f.select(:pessoa_id, Pessoa.where(id: current_usuario.id, ativo: true).collect {|u| [(u.nome if !u.nome.nil?), (u.id if !u.id.nil?)]}, {}, {placeholder: "Autor do conteúdo", class: "form-control", disabled: true})%>
                  <%#= f.hidden_field :pessoa_id, value: current_usuario.pessoa.id %>
                <%#= render 'autor_conteudo_conteudo_fields', f: autor_conteudo_conteudo %>
              <%# end %>

              <!-- COMENTÁRIO:
                O link para adicionar dinamicamente os fields deve estar dentro de uma div .links
              -->
              
              <!-- COMENTÁRIO: O link_to_add_association é um helper provido pela gem -->
              <!-- <div class="links">

               <%#= link_to_add_association '<i class="fa fa-plus"></i> Adicionar'.html_safe, f, :autor_conteudo_conteudos, class: "btn btn-white", :title => 'Adicionar um autor' %>
               <br><br>
              </div> -->
              <!-- <br>
          </div> -->
          <div class="form-group">
            <%= f.label :descricao, "Descrição do conteúdo:" %><e style="color: black">*</e><br>
            <%= f.text_area :descricao, class: "form-control", :required => true %>
          </div>
          <div class="form-group">
            <%= f.label :preco_sugerido, "Preço sugerido:" %><e style="color: black">*</e><br>
            <%= f.text_field :preco_sugerido, class: "form-control", :required => true %>
          </div>
          <div class="form-group">
            <%= f.label :image, "Anexe a imagem do conteúdo" %><br>
            <%= f.file_field :image %>
          </div>
           <!-- <div class="form-group">
            <%#= f.label :video, "Anexe o seu conteúdo" %><br>
            <%#= f.file_field :video%>
          </div> -->
        </div>
        <div class="actions">
          <%= button_tag(type: 'submit', class: "btn btn-white ", title: 'Salvar') do %>
            <i class="fa fa-save"></i> Salvar
          <% end %>
        </div>
      </div>
    </div>
  </form>
<% end %>
