<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="row">
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 ">
              <h4><%= link_to '<i class="fa fa-plus"></i> Novo'.html_safe, new_conteudo_path, :class => 'btn btn-white', :title => 'Novo conteúdo' %></h4>
            </div>
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11 ">
              <div style="text-align:center">
                <h2>Conteúdos</h2>
              </div>
            </div>
          </div>
        </div>
        <p id="notice">
          <center class="alert-info">
            <%= notice %> 
          </center>
        </p>
       <div class="table-responsive" style="padding-bottom: 130px;">
        <table class="table table-hover">
          <thead class="table table-bordered">
            <tr>
              <th>Canal</th>
              <th>Título</th>
              <th>Tipo de conteúdo</th>
              <th>Preço</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="table table-hover">
            <% @conteudos.each do |conteudo| %>
              <tr>
                <td><%= conteudo.canai_id.nil? ? "" : Canai.find(conteudo.canai_id).nome %></td>
                <td><%= conteudo.nome %></td>
                <td><%= conteudo.conteudo_tipo.nil? ? "" : conteudo.conteudo_tipo.nome %></td>
                <td><%= conteudo.preco_sugerido %></td>
                <td>
                  <div class="input-group-btn">
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">Ações <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'Ver', conteudo, :title => 'Visualizar' %></li>
                      <li>
                        <%= link_to 'Editar', edit_conteudo_path(conteudo), :title => 'Editar' %>
                      </li>
                      <li>
                        <%= link_to 'Deletar', conteudo, method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse registro ?' }, :title => 'Deletar' %>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>