<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title border-rsup">
          <div class="row">
            <div class="col-lg-1 col-sm-2 col-md-2 col-xs-2">
             <%= link_to '<i class="fa fa-reply"></i> Voltar'.html_safe,conteudos_path, :class => 'btn btn-white', :title => 'Voltar' %>
            </div>
            <div class="col-lg-11 col-sm-10 col-md-10 col-xs-10">
              <h2 align="center">Visualizando conteúdo</h2> 
            </div>
          </div>
        </div>
        <div class="ibox-content border-rinf">
          <p id="notice">
            <center class="alert-info">
              <%= notice %> 
            </center>
          </p>
          <div class="panel panel-default">
            <div class="panel-body">
              <p>
                <strong>Canal:</strong>
                <%= @conteudo.canai_id.nil? ? "" : Canai.find(@conteudo.canai_id).nome %>
              </p>
              <p>
                <strong>Título:</strong>
                <%= @conteudo.nome %>
              </p>
              <p>
                <strong>Tipo de conteúdo:</strong>
                <%= @conteudo.conteudo_tipo_id.nil? ? "" : ConteudoTipo.find(@conteudo.conteudo_tipo_id).nome %>
              </p>           
              <p>
              <strong>Autor do conteúdo:</strong><br>
              <ul style="list-style-type:none;">
                <% @autor_conteudos.each do |autor| %>
                  <!-- <li><%#= autor.autor_conteudo_id.blank? ? "" : Pessoa.joins(modulos_pessoas: :autor_conteudos).where('pessoas.ativo = ? AND modulos_pessoas.ativo = ? AND autor_conteudos.ativo = ?', true, true, true) %></li> -->
                  
                  <li><%= autor.autor_conteudo_id.blank? ? "" : Pessoa.find_by(usuario_id: current_usuario.id).nome %></li> 

                <%end%>
              </ul>
              </p>
              <p>
                <strong>Preço sugerido:</strong>
                <%= @conteudo.preco_sugerido %>
              </p>
              <p>
                <strong>Descrição do conteúdo:</strong>
                  <%= @conteudo.descricao %>
              </p>
              <p>
                <strong>Imagem do curso:</strong><br>
                <%= image_tag @conteudo.image.url(:medium) %>

              </p>
            </div>
          </div>
            <%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_conteudo_path(@conteudo), :class => 'btn btn-white  ', :title => 'Editar' %>
            <%= link_to '<i class="fa fa-plus"></i> Novo'.html_safe, new_conteudo_path, :class => 'btn btn-white', :title => 'Novo' %>
        </div>
      </div>
    </div>
  </div>
</div>