<%= form_for(@autor_conteudo) do |f| %>
  <% if @autor_conteudo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@autor_conteudo.errors.count, "error") %> prohibited this autor_conteudo from being saved:</h2>

      <ul>
      <% @autor_conteudo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form class="form-horizontal">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label :nome, "Nome:" %><br>
          <%= f.text_field :nome, class: "form-control", :required => true %>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= button_tag(type: 'submit', class: "btn btn-white ", title: 'Salvar') do %>
        <i class="fa fa-save"></i> Salvar
      <% end %>
    </div>
  </form>
<% end %>