<div class="nested-fields">
	<div class="form-group">
		<div class="input-group">
			<%= f.text_field :nome,placeholder: "Dilema", class: "form-control", :required => true %>
			<span class="input-group-btn">
 				<!-- COMENTÁRIO: link_to_remove_association é o helper que o cocoon nos fornece para deletar algum nested  -->
 			 	<%= link_to_remove_association '<i class="fa fa-trash"></i>'.html_safe, f ,class: "btn btn-white"%>
			</span>
		</div>
	</div>
</div>