<%= javascript_include_tag "forms" if ::Rails.application.assets.find_asset("forms.js") %>
<%= stylesheet_link_tag "forms" if ::Rails.application.assets.find_asset("forms.css") %>

<% content_for :javascript do %>
<script type="text/javascript">
  $(function() {
    var settings = {
      enableCancelButton: false,
      enableFinishButton: false,

      labels: {
        finish: "Salvar Rascunho",
        next: "Avançar",
        previous: "Voltar",
        cancel: "Cancelar",
      }
    };
    $("#wizard").steps(settings);
    
    $("#salvar").click(function() {
      var campos_vazios = ["Ops! Você esqueceu algo! Veja o que está faltando e corrija para poder enviar o desafio."];

      if (document.getElementById("desafios_empresa_ensino").checked == false && document.getElementById("desafios_empresa_profissional").checked == false && document.getElementById("desafios_empresa_solucao").checked == false) {
        campos_vazios.push("<li><b>Objetivo</b> na etapa 1.</li>");
      }
      if ($("#desafios_empresa_empresa_id").val() == ""){
        campos_vazios.push("<li><b>Empresa</b> na etapa 1.</li>");
      }
      if ($("#desafios_empresa_areas_conhecimento_id").val() == "" ){
        campos_vazios.push("<li><b>Área de Conhecimento</b> na etapa 1.</li>");
      }
      if ($("#desafios_empresa_contextualizacao").val() == "" ){
        campos_vazios.push("<li><b>Contextualização</b> na etapa 2.</li>");
      }
      if ($("#desafios_empresa_principais_problemas").val() == "" ){
        campos_vazios.push("<li><b>Principais Problemas</b> na etapa 2.</li>");
      }
      if ($("#desafios_empresa_dilemas_desafios_attributes_0_nome").val() =="" ){
        campos_vazios.push("<li><b>Dilemas</b> na etapa 3.</li>");
      }
      if ($("#desafios_empresa_metodologias_desafios_empresas_attributes_0_nome").val()  =="" ){
        campos_vazios.push("<li><b>Metodologias</b> na etapa 4.</li>");
      }
      if ($("#desafios_empresa_resumo").val() == "" ){
        campos_vazios.push("<li><b>Resumo do Desafio</b> na etapa 5.</li>");
      }
      if (document.getElementById("desafios_empresa_termo_autorizacao").checked == false ){
        campos_vazios.push("<li>Você não concordou com o <b>Termo de Autorização</b> na etapa 5.</li>");
      }
     if (campos_vazios.length != 1){
      document.getElementById("alerta_campo").innerHTML = campos_vazios.join( '' );
      $("#balao").addClass("bubble animated bounceIn");
     }
  });
});
</script>

<% end %>

<%= form_for(@desafios_empresa) do |f| %>
<% if @desafios_empresa.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@desafios_empresa.errors.count, "error") %> prohibited this desafios_empresa from being saved:</h2>

  <ul>
    <% @desafios_empresa.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<form class="form-horizontal">
 <div id="wizard">
  <h1><b class="desc-etapa">Apresentação</b></h1>
  <div class="step-content">
    <div class="col-lg-8">
      <h3>Qual seu objetivo com esse Desafio?</h3><br>
      <div class="form-group">
       <label> <%= f.check_box :ensino %> Quero contribuir com o ensino de Administração</label>
     </div>
     <div class="form-group">
       <label><%= f.check_box :profissional %> Quero encontrar bons profissionais que resolvam o problema que vou descrever</label>
     </div>
     <div class="form-group">
      <label><%= f.check_box :solucao %> Quero encontrar boas soluções para o problema que vou descrever</label>
    </div>
    <hr>
    <div class="form-group">
      <%= f.label :empresa_id, "Empresa:" %> <e style="color: black">*</e>
      <%= f.select :empresa_id, @empresa.collect {|u| [u.nome, u.id]}, {:prompt => 'Selecione a Empresa'}, class: "form-control", :required => true  %>
    </div>
    <div class="form-group">
      <%= f.label :areas_conhecimento_id, "Área de Conhecimento:" %> <e style="color: black">*</e>
      <%= f.select :areas_conhecimento_id, AreasConhecimento.where(ativo: true).collect {|u| [u.nome, u.id]}, {:prompt => 'Selecione a Área de Conhecimento'}, class: "form-control", :required => true  %>
    </div>
  </div>
  <div class="col-lg-4">

    <div class="bubble animated bounceIn">
     "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </div>
    <div class="comments-avatar">
      <a href="" class="pull-left">
        <img alt="image" src="<%= image_path('landing/avatar3.jpg') %>">
      </a>
      <div class="media-body">
        <div class="commens-name">
          Andrew Williams
        </div>
        <small class="text-muted">Company X from California</small>
      </div>
    </div>
  </div>
</div>
<h1><b class="desc-etapa">Contexto</b></h1>
<div class="step-content">
  <div class="col-lg-8">
    <div class="form-group">
      <%= f.label :contextualizacao, "Contextualização:" %> <e style="color: black">*</e>
      <%= f.text_area :contextualizacao, class: "form-control",:required => true, style:"min-height: 150px;resize: vertical;" %>
    </div>
    <div class="form-group">
      <%= f.label :principais_problemas, "Principais Problemas:" %> <e style="color: black">*</e>
      <%= f.text_area :principais_problemas, class: "form-control",:required => true, style:"min-height: 150px;resize: vertical;"  %>
    </div>
  </div>
  <div class="col-lg-4">

    <div class="bubble animated bounceIn">
     "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </div>
    <div class="comments-avatar">
      <a href="" class="pull-left">
        <img alt="image" src="<%= image_path('landing/avatar3.jpg') %>">
      </a>
      <div class="media-body">
        <div class="commens-name">
          Andrew Williams
        </div>
        <small class="text-muted">Company X from California</small>
      </div>
    </div>
  </div>
</div>

<h1><b class="desc-etapa">Dilemas</b></h1>
<div class="step-content">
  <div class="col-lg-8">
    <div id="dilemas_desafios">
      <label>Dilemas:  <e style="color: black">*</e></label>
      <%= f.fields_for :dilemas_desafios do |dilemas_desafio| %>
        <!-- COMENTÁRIO:
          é uma exigencia também que os campos do seu nested esteja numa partial "nome_do_seu_nested_no_singular_fields"
          no nosso caso _experience_fields.html.erb
        -->
        <%= render 'dilemas_desafio_fields', f: dilemas_desafio %>
        <% end %>

      <!-- COMENTÁRIO:
        O link para adicionar dinamicamente os fields deve estar dentro de uma div .links
      -->
      <div class="links">
        <!-- COMENTÁRIO: O link_to_add_association é um helper provido pela gem -->
        <%= link_to_add_association '<i class="fa fa-plus"></i> Adicionar'.html_safe, f, :dilemas_desafios, class: "btn btn-white" %>
        <br><br>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="bubble animated bounceIn">
     "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </div>
    <div class="comments-avatar">
      <a href="" class="pull-left">
        <img alt="image" src="<%= image_path('landing/avatar3.jpg') %>">
      </a>
      <div class="media-body">
        <div class="commens-name">
          Andrew Williams
        </div>
        <small class="text-muted">Company X from California</small>
      </div>
    </div>
  </div>
</div>
<h1><b class="desc-etapa">Mercado</b></h1>
<div class="step-content">
  <div class="col-lg-8">
    <div class="form-group">
      <%= f.label :dados_mercado, "Dados de Mercado:" %>
      <%= f.text_area :dados_mercado, class: "form-control", style:"min-height: 120px;resize: vertical;"  %>
    </div>
    <div id="metodologias_desafios_empresas">
      <label>Metodologias Desejadas:  <e style="color: black">*</e></label>
      <%= f.fields_for :metodologias_desafios_empresas do |metodologias_desafios_empresa| %>
        <!-- COMENTÁRIO:
          é uma exigencia também que os campos do seu nested esteja numa partial "nome_do_seu_nested_no_singular_fields"
          no nosso caso _experience_fields.html.erb
        -->
        <%= render 'metodologias_desafios_empresa_fields', f: metodologias_desafios_empresa %>
        <% end %>

      <!-- COMENTÁRIO:
        O link para adicionar dinamicamente os fields deve estar dentro de uma div .links
      -->
      <div class="links">
        <!-- COMENTÁRIO: O link_to_add_association é um helper provido pela gem -->
        <%= link_to_add_association '<i class="fa fa-plus"></i> Adicionar'.html_safe, f, :metodologias_desafios_empresas, class: "btn btn-white" %>
        <br><br>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="bubble animated bounceIn">
     "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </div>
    <div class="comments-avatar">
      <a href="" class="pull-left">
        <img alt="image" src="<%= image_path('landing/avatar3.jpg') %>">
      </a>
      <div class="media-body">
        <div class="commens-name">
          Andrew Williams
        </div>
        <small class="text-muted">Company X from California</small>
      </div>
    </div>
  </div>
</div>
<h1><b class="desc-etapa">Termo</b></h1>
<div class="step-content">
  <div class="col-lg-8">
    <div class="form-group">
      <%= f.label :termo_autorizacao, "Termo de Autorização:" %> <e style="color: black">*</e>  <br>
      <%= f.check_box :termo_autorizacao,:required => true %>
    </div>
    <div class="form-group">
      <%= f.label :resumo, "Resumo do Desafio:" %> <e style="color: black">*</e> <i>Máx: 150 caracteres</i>
      <%= f.text_area :resumo, class: "form-control",:required => true, style:"min-height: 50px;resize: vertical;", :maxlength => 150  %>
    </div>
  <div class="actions">
    <%= button_tag(type: 'submit', class: "btn btn-primary btn-block", title: 'Enviar', id: 'salvar') do %>
    <i class="fa fa-send"></i> Enviar para Análise
    <% end %>
  </div>

 <!--  <div class="form-group">
  <input type="button" class="btn btn-white btn-block btn-outline" value="Salvar como Rascunho">
  </div> -->
</div>
<div class="col-lg-4">
  <div id="balao" class="bubble animated bounceIn">
  <p id="alerta_campo"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  </div>
  <div class="comments-avatar">
    <a href="" class="pull-left">
      <img alt="image" src="<%= image_path('landing/avatar3.jpg') %>">
    </a>
    <div class="media-body">
      <div class="commens-name">
        Andrew Williams
      </div>
      <small class="text-muted">Company X from California</small>
    </div>
  </div>
</div> 
</div>

</div>



</form>
<% end %>

