<script type="text/javascript">

  $(document).ready(function() {
    $("#add_dilema").click(function(e) {
      e.preventDefault();
      var dilema_id = $("#dilema_id").val();
      if (dilema_id != ""){
        $.ajax({
          method: "GET",
          url: "/desafios_empresas/adicionar_dilema",
          data: {dilema_id: dilema_id}
        })
        .done(function(retorno) {
          $("#lista_dilemas").html( retorno );
        });
      }
    });

    // <%# $dilemas.each do |dilema| %>
	   //  $("#dilema_<%#= $dilemas.index(dilema)%>").click(function(e) {
	   //    e.preventDefault();
	   //    $.ajax({
	   //      method: "GET",
	   //      url: "/desafios_empresas/remover_dilema",
	   //      data: {dilemat_id: "<%#= $dilemas.index(dilema)%>"}
	   //    })
	   //    .done(function(retorno) {
	   //      $("#lista_dilemas").html( retorno );
	   //    });
	   //  });
    // <%#end%>
  });
</script>

<div class="form-group" id="lista_dilemas">
 	<label>Dilemas:  <e style="color: black">*</e></label>
 	<div class="input-group">
 		<%= select_tag(:dilema_id, options_for_select(Dilema.where.not(id: $dilemas).collect {|u| [u.nome, u.id]}), {:prompt => 'Selecione o Dilema', class: "form-control", :required => true})  %>
 		<span class="input-group-btn">
 			<button type="button" class="btn btn-white" id="add_dilema"><i class="fa fa-plus"></i> Adicionar</button>
 		</span>
 	</div>
 	<br>
 	<%= $dilemas%>
	<% $dilemas.each do |dilema| %>
 		<%if !dilema.empty?%>
		 	<blockquote style="font-size: 14px;">
		 		<label><%= Dilema.find(dilema).nome%>
		 		<button type="button" class="btn btn-white btn-sm"><i class="fa fa-close" id="dilema_<%= $dilemas.index(dilema)%>" value="<%= $dilemas.index(dilema)%>"></i></label>
		 	</blockquote>
		<% end %>
	<% end %>
</div>