<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title border-rsup">
					<div class="row">
						<div class="col-xs-6 col-sm-4">
							<%= link_to '<i class="fa fa-reply"></i> Voltar'.html_safe,desafios_empresas_path, :class => 'btn btn-white', :title => 'Voltar/Cancelar' %>
						</div>
						
						<div class="col-xs-6 col-sm-4 col-md-4">
							<h2 align="center">Lançar Desafio</h2> 
						</div>

						<div class="col-xs-6 col-sm-4" align= "right">
							<%= link_to '<i class="fa fa-envelope"></i> Fale conosco'.html_safe,orientacoes_empresas_path, :class => 'btn btn-white', :title => 'Solicitar orientação' %>
						</div>

					</div>
				</div>
				<div class="ibox-content border-rinf">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>
