<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title border-rsup">
          <div class="row">
            <div class="col-lg-1 col-sm-2 col-md-2 col-xs-2">
            <%if !session[:modulo_id].blank?%> 
              <% if Modulo.find(session[:modulo_id]).nome == "Empresa"%>
                <%= link_to '<i class="fa fa-reply"></i> Voltar'.html_safe, desafios_empresas_path, :class => 'btn btn-white', :title => 'Voltar' %>
              <%else%>
                <%= link_to '<i class="fa fa-reply"></i> Voltar'.html_safe, todos_desafios_desafios_empresas_path, :class => 'btn btn-white', :title => 'Voltar' %>
              <%end %>
            <%else%>
              <%= link_to '<i class="fa fa-reply"></i> Voltar'.html_safe, desafios_empresas_path, :class => 'btn btn-white', :title => 'Voltar' %>
            <%end%>
            </div>
            <div class="col-lg-11 col-sm-10 col-md-10 col-xs-10">
              <h2 align="center">Desafio</h2> 
            </div>
          </div>
        </div>
        <div class="ibox-content border-rinf">
          <p id="notice">
            <center class="alert-info">
              <%= notice %> 
            </center>
          </p>
          <div class="panel panel-default">
            <div class="panel-body">
              <p>
                <strong>Empresa:</strong>
                <%= @desafios_empresa.empresa_id.nil? ? "" : Empresa.find(@desafios_empresa.empresa_id).nome %>
              </p>
              <p>
                <strong>Objetivo:</strong>
                <%if @desafios_empresa.ensino == true%>
                  <br>Quero contribuir com o ensino de Administração
                <%end%>
                <%if @desafios_empresa.profissional == true%>
                  <br>Quero encontrar bons profissionais que resolvam o problema que vou descrever
                <%end%>
                <%if @desafios_empresa.solucao == true%>
                  <br>Quero encontrar boas soluções para o problema que vou descrever
                <%end%>
              </p>

            <p>
              <strong>Área de Conhecimento:</strong>
              <%= @desafios_empresa.areas_conhecimento_id.nil? ? "" : AreasConhecimento.find(@desafios_empresa.areas_conhecimento_id).nome %>
            </p>

            <p>
              <strong>Contextualização:</strong><br>
              <%= @desafios_empresa.contextualizacao %>
            </p>

            <p>
              <strong>Principais Problemas:</strong><br>
              <%= @desafios_empresa.principais_problemas %>
            </p>

            <p>
              <strong>Dados de Mercado:</strong><br>
              <%= @desafios_empresa.dados_mercado %>
            </p>
            <strong>Dilemas:</strong><br>
            <ul>
              <% @dilemas.each do |dilema| %>
                <li><%= dilema.nome%></li>
              <%end%>
            </ul>
            <strong>Metodologias:</strong><br>
            <ul>
              <% @metodologias.each do |metodologia| %>
                <li><%= metodologia.nome%></li>
              <%end%>
            </ul>
            </div>
          </div>
          <div>
          <%if !session[:modulo_id].blank?%> 
            <% if Modulo.find(session[:modulo_id]).nome == "Empresa"%>
              <%= link_to '<i class="fa fa-plus"></i> Novo'.html_safe, new_desafios_empresa_path, :class => 'btn btn-white', :title => 'Novo' %>
            <%end%>
          <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>