<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox-content m-b-sm border-bottom">
    <div class="text-center p-lg">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
          <div style="text-align:center">
            <h2>Desafios da Empresas <span class="badge badge-primary"><%= @desafios_empresas.count %></span></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
<p id="notice"><%= notice %></p>
<div class="row">
    <% @desafios_empresas.each do |desafios_empresa| %>
      <div class="col-lg-3">
        <div class="contact-box center-version" style="height: 380px;">
          <a href="/desafios_empresas/<%= desafios_empresa.id%>">
            <h3 class="m-b-xs"><strong><%= desafios_empresa.empresa_id.nil? ? "" : desafios_empresa.empresa.nome %></strong></h3>
            <div class="font-bold">Área: <%= desafios_empresa.areas_conhecimento.nil? ? "" : desafios_empresa.areas_conhecimento.nome %></div>
            <hr>
            <div style="height: 130px;">
              <address class="m-t-md" style="text-align: left;word-wrap: break-word;">
               <%= truncate(desafios_empresa.resumo,length: 150) %>
              </address><br>
            </div>
            <span class="small font-bold">Objetivo</span>
            <div class="tag-list">
              <%if desafios_empresa.ensino == true%>
              <span class="tag-item">ENSINO</span>
              <%end%>
              <%if desafios_empresa.profissional == true%>
              <span class="tag-item">PROFISSIONAL</span>
              <%end%>
              <%if desafios_empresa.solucao == true%>
              <span class="tag-item">SOLUÇÃO</span>
              <%end%>
            </div>
          </a>
          <div class="contact-box-footer">
            <small>Status: <%= desafios_empresa.status_desafio_id.nil? ? "" : StatusDesafio.find(desafios_empresa.status_desafio_id).nome %> (<%= (StatusDesafio.find(desafios_empresa.status_desafio_id).sequencia.to_i*100)/@status.to_i%>%)</small>
            <div class="progress progress-striped">
              <div style="width:  <%= (desafios_empresa.status_desafio_id.nil? ? 0 : StatusDesafio.find(desafios_empresa.status_desafio_id).sequencia.to_i*100)/@status.to_i%>%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-info">
              </div>
              
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>