<%= form_for(@modulo) do |f| %>
  <% if @modulo.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" style="width: 400px;"> 
      <ul>
        <% @modulo.errors.full_messages.each do |message| %>
        <li><%= message %>.</li> <br>
        <% end %>
      </ul>
    </div>
  <% end %>
  <form class="form-horizontal">
    <div class="form-group">
      <%= f.label :nome, "Nome:" %> <e style="color: black">*</e><br>
      <%= f.text_field :nome, class: "form-control", :required => true %>
    </div>
    <div class="actions ">
      <%= button_tag(type: 'submit', class: "btn btn-white ", title: 'Salvar') do %>
        <i class="fa fa-save"></i> Salvar
      <% end %>
    </div>
  </form>
<% end %>