<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
              <div style="text-align:center">
                <h2>Meus conteúdos</h2>
              </div>
            </div>
          </div>
        </div>
        <p id="notice">
          <center class="alert-info">
            <%= notice %> 
          </center>
        </p>
      <% @meus_cursos.each do |meus_curso| %>
        <!-- <div class="row">
          <div class="col-lg-12 col-md-9">
            <div class="ibox">
              <div class="ibox-content">
                <div class="table-responsive">
                  <table class="table shoping-cart-table">
                    <tbody>
                      <tr>
                        <td width="200">
                          <img src="<%#= meus_curso.conteudo.image %>" style="width:200px; height: auto;">
                        </td>
                        <td class="desc">
                          <h3>
                            <a href="#" class="text-navy">
                              <%#= meus_curso.conteudo.nome %>
                            </a>
                          </h3>
                          <div>
                            <p class="small">
                              <%#= meus_curso.conteudo.descricao %>
                            </p>
                          </div>
                          <dl class="small m-b-none">
                            <dt>Autores</dt>
                            <#% @autor = AutorConteudoConteudo.where(conteudo_id: meus_curso.conteudo_id) %>
                            <#% @autor.each do |autor| %>
                              <ul style="list-style-type: none;">
                                <li><%#= autor.autor_conteudo_id.blank? ? "" : Pessoa.find_by(usuario_id: current_usuario.id).nome %></li>
                              </ul>
                            <#%end%>
                        </td>
                        <td width="90">
                          <%#= link_to 'Acessar curso', visualizar_curso_meus_cursos_path(:conteudo_id => meus_curso.conteudo_id), class: "btn btn-primary", role: "button" %>
                        </td>                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <div class="col-lg-3">
          <div class="contact-box center-version" style="height: 380px; width: 252px;">
          <!-- <a href= "/desafios_empresas/<%#= desafios_empresa.id%>"> -->
            <div style="height: 148px;">
              <img src="<%= meus_curso.conteudo.image %>" style="width:250px; height: auto;">
            </div>
            <hr>
            <div align="center"> 
              <h3 class="text-navy"><strong><%= meus_curso.conteudo.nome %></strong></h3>
              <!-- <div class="small"> 
                <%# @autor = AutorConteudoConteudo.where(conteudo_id: meus_curso.conteudo_id) %>
                <%# @autor.each do |autor| %>
                    <p><%#= autor.autor_conteudo_id.blank? ? "" : Pessoa.find_by(usuario_id: current_usuario.id).nome %></p>
                <%#end%>
              </div> -->
            <%= link_to 'Acessar curso', visualizar_curso_meus_cursos_path(:conteudo_id => meus_curso.conteudo_id), class: "btn btn-primary", style: "background-color: #222; border:none;", role: "button" %>
            </div>
          <!-- </a> -->
          <!-- <div class="contact-box-footer">
            <small>
              Progresso: <%#= desafios_empresa.status_desafio_id.nil? ? "" : StatusDesafio.find(desafios_empresa.status_desafio_id).nome %> (<%#= (StatusDesafio.find(desafios_empresa.status_desafio_id).sequencia.to_i*100)/@status.to_i%>%)
            </small>
            <div class="progress progress-striped">
              <div style="width:  <%#= (desafios_empresa.status_desafio_id.nil? ? 0 : StatusDesafio.find(desafios_empresa.status_desafio_id).sequencia.to_i*100)/@status.to_i%>%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-info">
              </div>
              
            </div>
          </div> -->
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<style type="text/css">
  .btn-primary:hover{
    background-color: #676a6c;
    border: none;
  }
  .contact-box:hover{
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  }
</style>