<%= form_for(@canai) do |f| %>
  <% if @canai.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@canai.errors.count, "error") %> prohibited this canai from being saved:</h2>

      <ul>
      <% @canai.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form class="form-horizontal">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label :empresa_id, "Empresa:" %>
          <%= f.select :empresa_id, Empresa.where(ativo: true).collect {|u| [(u.nome if !u.nome.nil?), (u.id if !u.id.nil?)]}, {:prompt => 'Selecione a empresa'}, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :pessoa_id, "Criador do canal:" %><e style="color: black">*</e><br>
          <%= f.select(:pessoa_id, Pessoa.where(id: current_usuario.id, ativo: true).collect {|u| [(u.nome if !u.nome.nil?), (u.id if !u.id.nil?)]}, {}, {placeholder: "Autor do conteúdo", class: "form-control", disabled: true})%>
          <%= f.hidden_field :pessoa_id, value: current_usuario.id %>
        </div>
        <div class="form-group">
          <%= f.label :nome, "Nome do canal:" %><e style="color: black">*</e><br>
          <%= f.text_field :nome, class: "form-control", :required => true %>
        </div>
        <div class="form-group">
          <%= f.label :objetivo, "Objetivo do canal:" %><br>
          <%= f.text_area :objetivo, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :data_criacao, "Data de criação:" %><e style="color: black">*</e><br>
          <%#= f.date_select :data_criacao, class: "form-control", :required => true %>
          <%= f.text_field :data_criacao, class: 'form-control', :required => true, type: "Date" %>
        </div>
    <div class="actions">
      <%= button_tag(type: 'submit', class: "btn btn-white ", title: 'Salvar') do %>
        <i class="fa fa-save"></i> Salvar
      <% end %>
      </div>
    </div>
    </div>
  </form>
<% end %>