<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="row">
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 ">
              <h4><%= link_to '<i class="fa fa-plus"></i> Novo'.html_safe, new_canai_path, :class => 'btn btn-white', :title => 'Novo canal' %></h4>
            </div>
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11 ">
              <div style="text-align:center">
                <h2>Canais</h2>
              </div>
            </div>
          </div>
        </div>
        <p id="notice">
          <center class="alert-info">
            <%= notice %> 
          </center>
        </p>
       <div class="table-responsive" style="padding-bottom: 130px;">
        <table class="table table-hover">
          <thead class="table table-bordered">
            <tr>
              <th>Empresa</th>
              <th>Nome do canal</th>
              <th>Criador</th>
              <th>Objetivo</th>
              <th>Data de criação</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="table table-hover">
            <% @canais.each do |canal| %>
              <tr>
                <td><%= canal.empresa_id.blank? ? "" : Empresa.find(canal.empresa_id).nome %></td>
                <td><%= canal.nome %></td>
                <td><%= canal.pessoa_id.blank? ? "" : Pessoa.find(canal.pessoa_id).nome %></td>
                <td><%= canal.objetivo %></td>
                <td><%= canal.data_criacao.strftime('%d/%m/%Y') %></td>
                
                <td>
                  <div class="input-group-btn">
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">Ações <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <!-- <li><%#= link_to 'Ver', canal, :title => 'Visualizar' %></li> -->
                      
                      <li><%= link_to 'Ver conteúdos do canal', ver_conteudos_canal_canais_path(:canai_id => canal.id) %></li>
                      <li>
                        <%= link_to 'Editar', edit_canai_path(canal), :title => 'Editar' %>
                      </li>
                      <li>
                        <%= link_to 'Deletar',canal, method: :delete, data: { confirm: 'Tem certeza que deseja excluir este canal?' }, :title => 'Deletar' %>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
