<%= form_for(@orientacoes_empresa) do |f| %>
  <% if @orientacoes_empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orientacoes_empresa.errors.count, "error") %> prohibited this orientacoes_empresa from being saved:</h2>
      <ul>
      <% @orientacoes_empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form class="form-horizontal">
    <div class="form-group">
     <%= f.label :nome, "Nome:" %> <e style="color: black">*</e>
     <%= f.text_field :nome, class: "form-control", :required => true %>
    </div>
    <div class="form-group">
      <%= f.label :email, "Email para contato:" %> <e style="color: black">*</e>
      <%= f.text_field :email, class: "form-control", :required => true %>
    </div>
    <div class="form-group">
      <%= f.label :telefone, "Telefone:" %>  <e style="color: black"></e>
      <%= f.text_field :telefone, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :texto, "Qual sua dúvida?" %>  <e style="color: black">*</e>
      <%= f.text_area :texto, class: "form-control", :required => true %>
    </div>
    <div class="actions ">
      <%= button_tag(type: 'submit', class: "btn btn-white ", title: 'Salvar') do %>
        <i class="fa fa-save"></i> Salvar
      <% end %>
    </div>
  </form>
  <% end %>
  </div>
