<p id="notice"><%= notice %></p>
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title border-rsup">
            <div class="row">
              <div class="col-lg-1 col-sm-2 col-md-2 col-xs-2">
                <%= link_to '<i class="fa fa-reply"></i> Voltar'.html_safe,desafios_empresas_path, :class => 'btn btn-white', :title => 'Voltar/Cancelar'%>
              </div>
              <div class="col-lg-11 col-sm-10 col-md-10 col-xs-10">
                <h2 align="center">Tem dúvidas/necessita de orientação? Fale com a Admschools!</h2> 
              </div>
            </div>
          </div>
          <div class="ibox-content border-rinf">
            <p id="notice">
              <center class="alert-info">
                <%= notice %> 
              </center>
            </p>
            <div class="panel panel-default">
              <div class="panel-body">
                <ul>
                  <li><h3><%= link_to 'Email'.html_safe,new_orientacoes_empresa_path,:title => 'Envie email' %></h3></li>

                  <p>Busque orientação através do <%= link_to 'Email'.html_safe,new_orientacoes_empresa_path,:title => 'Envie email' %>. Nós responderemos sua mensagem em até 2 dias úteis!</p>
                  <li><h3>Facebook</h3></li>

                  <li><h3>Twitter</h3></li>

                  <li><h3>Telefone</h3></li>
                  <p>Ligue-nos: 0000-0000.</p>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>