<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title border-rsup">
					<div class="row">
						<div class="col-xs-6 col-sm-4 col-lg-2">
							<%= link_to '<i class="fa fa-reply"></i> Voltar'.html_safe,orientacoes_empresas_path, :class => 'btn btn-white', :title => 'Voltar/Cancelar' %>
						</div>
						<div class="col-xs-6 col-sm-8 col-lg-10">
							<h2 align="center">Envie-nos um email</h2> 
						</div>
					</div>
				</div>
				<div class="ibox-content border-rinf">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>