<%= form_for(@pessoa) do |f| %>
  <% if @pessoa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pessoa.errors.count, "error") %> prohibited this pessoa from being saved:</h2>
      <ul>
        <% @pessoa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <form class="form-horizontal">
    <div class="form-group">
     <%= f.label :nome, "Nome:" %> <e style="color: black">*</e>
     <%= f.text_field :nome, class: "form-control", :required => true %>
    </div>
    <div class="form-group">
      <%= f.label :email, "Email para contato:" %> <e style="color: black">*</e>
      <%= f.text_field :email, class: "form-control", :required => true  %>
    </div>
    <div class="form-group">
      <%= f.label :telefone, "Telefone:" %>  <e style="color: black">*</e>
      <%= f.text_field :telefone, class: "form-control", :required => true  %>
    </div>
    <div class="form-group">
      <%= f.label :estado, "Estado:" %>  <e style="color: black">*</e>
      <%= f.text_field :estado, class: "form-control", :required => true  %>
    </div>
    <div class="form-group">
      <%= f.label :cidade, "Cidade:" %>  <e style="color: black">*</e>
      <%= f.text_field :cidade, class: "form-control", :required => true  %>
    </div>
    <div class="actions ">
      <%= button_tag(type: 'submit', class: "btn btn-white ", title: 'Salvar') do %>
        <i class="fa fa-save"></i> Salvar
      <% end %>
    </div>
  </form>
<% end %>
