<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col">
      <div class="ibox float-e-margins">
        <div class="ibox-title border-rsup">
          <div class="row">
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 ">
              <h4><%= link_to '<i class="fa fa-plus"></i> Novo'.html_safe, new_pessoa_path, :class => 'btn btn-white', :title => 'Nova Pessoa' %></h4>
            </div>
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11 ">
              <div style="text-align:center">
                <h2>Pessoas <span class="badge badge-primary"><%= @pessoas.count %></span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="ibox-content border-rinf">
          <p id="notice">
            <center class="alert-info">
              <%= notice %> 
            </center>
          </p>

          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="table table-bordered">
                <tr>
                  <th>Nome</th>
                  <th>Email</th>
                  <th>Telefone</th>
                  <th>Cidade</th>
                  <th>Estado</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody class="table table-hover">
                <% @pessoas.each do |pessoa| %>
                <tr>
                  <td><%= pessoa.nome %></td>
                  <td><%= pessoa.email %></td>
                  <td><%= pessoa.telefone %></td>
                  <td><%= pessoa.cidade %></td>
                  <td><%= pessoa.estado %></td>
                  <td><%= link_to '<i class="fa fa-search"></i> Visualizar'.html_safe, pessoa, :class => 'btn btn-white ', :title => 'Visualizar' %></td>
                  <td><%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_pessoa_path(pessoa), :class => 'btn btn-white  ', :title => 'Editar' %></td>
                  <td><%= link_to '<i class="fa fa-trash"></i> Deletar'.html_safe, pessoa, method: :delete, data: { confirm: 'Tem certeza?' }, :class => 'btn btn-white ', :title => 'Deletar' %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>