<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title border-rsup">
					<div class="row">
						<!-- <div class="col-lg-1 col-sm-2 col-md-2 col-xs-2">
							<%#= link_to '<i class="fa fa-reply"></i> Voltar'.html_safe,pessoas_path, :class => 'btn btn-white', :title => 'Voltar/Cancelar' %>
						</div> -->
						<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
							<h2 align="center">Completar Perfil</h2> 
						</div>
					</div>
				</div>
				<div class="ibox-content border-rinf">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>
