<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title border-rsup">
          <div class="row">
            <div class="col-lg-1 col-sm-2 col-md-2 col-xs-2">
              <%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_pessoa_path(@pessoa), :class => 'btn btn-white  ', :title => 'Editar' %>
            </div>
            <div class="col-lg-11 col-sm-10 col-md-10 col-xs-10">
              <h2 align="center">Visualizando Perfil</h2> 
            </div>
          </div>
        </div>
        <div class="ibox-content border-rinf">
          <p id="notice">
            <center class="alert-info">
              <%= notice %> 
            </center>
          </p>
          <div class="panel panel-default">
            <div class="panel-body">
              <p>
                <strong>Nome:</strong>
                <%= @pessoa.nome %>
              </p>

              <p>
                <strong>Email:</strong>
                <%= @pessoa.email %>
              </p>

              <p>
                <strong>Telefone:</strong>
                <%= @pessoa.telefone %>
              </p>

              <p>
                <strong>Estado:</strong>
                <%= @pessoa.estado %>
              </p>

              <p>
                <strong>Cidade:</strong>
                <%= @pessoa.cidade %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>