<div class="colunas">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <h2 class="text-center m" style="text-align: left">LANÇAMENTOS</h2>
        <div class="slick_demo_2">
          <% @lancamentos.each do |lancamento| %>
            <div>
              <div class="ibox-content draggable">
                <div align="center">
                  <td width="200" style="align-items: center;">
                    <%= image_tag(lancamento.image, class: "img-box img-responsive", style: "width:200px; height: auto;")%>
                  </td>
                </div>
                <h3><%= lancamento.nome %></h3>
               <!--  <#% @autor = AutorConteudoConteudo.where(conteudo_id: lancamento.id) %>
                <#% @autor.each do |autor| %>
                  <p><%#= AutorConteudo.find(autor.autor_conteudo_id).modulos_pessoas.pessoas if !autor.autor_conteudo_id.blank? %></p>
                <#% end %> -->
                <% @autor = AutorConteudoConteudo.where(conteudo_id: lancamento.id) %>
                <% @autor.each do |autor| %>
                  <p><%= autor.autor_conteudo_id.blank? ? "" : Pessoa.find_by(usuario_id: current_usuario.id).nome %></p>
                <%end%>
                <div class="row">
                  <div class="col-sm-7 col-xs-8">
                    <div class="btn-group">
                      <button id="carrinhos_id-<%=lancamento.id%>" class="btn btn-primary btn-sm" title= "Adicionar ao carrinho" ><i class="fa fa-cart-plus"></i></button>
                      <button id="lancamentos_id-<%= lancamento.id %>" class="btn btn-white btn-sm" title="Adicionar à minha lista"><i class="fa fa-plus"></i></button>
                    </div>
                  </div>
                  <div class="col-sm-5 col-xs-4">
                    <h4 align="right" class="pull-right"><!-- R<%#= number_to_currency(lancamento.preco_sugerido) %> --><%= number_to_currency(lancamento.preco_sugerido, unit: "R$ ", separator: ",", delimiter: ".", precision: 2) %></h4>
                  </div>
                </div>
              </div>
            </div>    
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function() {

        $('.slick_demo_2').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            centerMode: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });

    });
  
    <% @lancamentos.each do |lancamento| %>
      $(document).ready(function(){
        $("#lancamentos_id-<%= lancamento.id %>").click(function(){
          $.ajax({

            method: 'GET',
            url: '/minha_lista/add_lista',
            data: {lancamentos_id: <%= lancamento.id %> }

          })
          .done(function(retorno){
            $("#minha_lista_partial").html(retorno);
          });
        });

        $("#carrinhos_id-<%=lancamento.id%>").click(function(){
          $.ajax({

            method: 'GET',
            url: '/carrinhos/add_carrinho',
            data: {conteudo_id: <%= lancamento.id %>}

          })
          .done(function(retorno){
            $("#botao_carrinho").html(retorno);
          });
        });
      }); 
    <% end %>
  </script>