<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://unpkg.com/cloudinary-video-player/dist/cld-video-player.min.css" rel="stylesheet">
		<!-- We used FontAwesome for the 'Previous' and 'Next' controlBar buttons -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>

	<section>		
		<div class="container">
			<div class="row" align="center">
		  	<video id="example-player" width="800" controls muted autoplay class="cld-video-player cld-video-player-skin-dark" data-cld-transformation='{"crop": "limit" }'>
		    </video>
			</div>
		</div>
	</section>

	<!-- <section>
		<div class="container">
	    <div class="row" align="center">
	      <button id="play-prev" class="btn btn-lg btn-primary" title="vídeo anterior"><i class="fa fa-chevron-left"></i></button>
	      <button id="play-next" class="btn btn-lg btn-primary" title="próximo vídeo"><i class="fa fa-chevron-right"></i></button>
	    </div>
		</div>
	</section> -->
  <div id="source-data">
    <span id="public-id-placeholder"></span><br>
    <span id="source-url-placeholder"></span>
  </div>

   <div class="row video-container" align="center">
      <video id="example-player" width="800" controls muted autoplay class="cld-video-player cld-video-player-skin-dark" data-cld-transformation='{"crop": "limit" }'>
      </video>

      <div class="row" align="center">
	      <button id="play-prev" class="btn btn-lg btn-primary" title="vídeo anterior"><i class="fa fa-chevron-left"></i></button>
	      <button id="play-next" class="btn btn-lg btn-primary" title="próximo vídeo"><i class="fa fa-chevron-right"></i></button>
	    </div>

      <div id="source-data">
        <span id="public-id-placeholder"></span><br>
        <span id="source-url-placeholder"></span>
      </div>
    </div>
	  <!-- Cloudinary Video Player Dependencies -->
	  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.3.0/cloudinary-core-shrinkwrap.js"></script>
	  <script type="text/javascript" src="https://unpkg.com/cloudinary-video-player/dist/cld-video-player.min.js"></script>
	  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dashjs/2.6.3/dash.all.min.js"></script>
	  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-dash/2.9.2/videojs-dash.min.js"></script>

	  <!-- Actual code -->
		<script type="text/javascript">
		window.onload = function(){
		  var cld = cloudinary.Cloudinary.new({ cloud_name: 'agilgpr' });
		

	    // Initialize player
	    var player = cld.videoPlayer('example-player');

	    // Pass a sorter to sort list in alphabetical order by publicId
	    /*var sorter = function(a, b) {
	      if (a.publicId < b.publicId) return 1;
	      if (a.publicId > b.publicId) return -1;
	      return 0;
	    };*/
	   
	    var sorter = function(a,b){  
    		var dateA = new Date(a.date).getTime();
    		var dateB = new Date(b.date).getTime();
    		return dateA < dateB ? -1 : 1;  
			}; 
	    // Fetch playlist by tag. Since this operation involves an API call
	    // the function returns a Promise when the operation completes.
	    // The return value is 'player'.
	    player.playlistByTag('<%= params[:topicos_conteudo_id] %>', {
	      sorter: sorter,
	      autoAdvance: false,
	      repeat: true,
	      presentUpcoming: false
	    }).then(function(player) {
	      var divElem = document.querySelector("div#playlist-data");
	      var list = player.playlist().list().map(function(source) {
	        return source.publicId()
	      }).join(', ');

	    });

	    function updateSource() {
	      var divElem = document.querySelector("div#source-data");

	      publicIdElem = divElem.querySelector("#public-id-placeholder");
	      sourceUrlElem = divElem.querySelector("#source-url-placeholder");

	      divElem.style.display = 'block';
	    }

	    player.on('sourcechanged', updateSource);

	    document.querySelector("button#play-prev").addEventListener("click", function() {
	      player.playPrevious();
	    });

	    document.querySelector("button#play-next").addEventListener("click", function() {
	      player.playNext();
	    });
	}
	  </script>
	</body>
	<style type="text/css">
		#page-wrapper{
	    padding: 0px 0px;
	   }
	</style>
</html>