<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="row">
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 ">
              <h4><%= link_to '<i class="fa fa-plus"></i> Novo'.html_safe, new_conteudo_path, :class => 'btn btn-white', :title => 'Novo conteúdo' %></h4>
            </div>
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11 ">
              <div style="text-align:center">
                <h2>Conteúdos</h2>
              </div>
            </div>
          </div>
        </div>
        <p id="notice">
          <center class="alert-info">
            <%= notice %> 
          </center>
        </p>
      <% if @conteudo_canal.blank? %> 
        <% @conteudo_canal_params = Conteudo.where(ativo: true, canai_id: params[:canai_id]) %>
          <% @conteudo_canal_params.each do |conteudo_canal| %>
          <div class="col-lg-3">
            <div class="contact-box center-version" style="height: 380px; width: 252px;">
            <!-- <a href= "/desafios_empresas/<%#= desafios_empresa.id%>"> -->
              <div style="height: 148px;">
                <img src="<%= conteudo_canal.image %>" style="width:250px; height: auto;">
              </div>
              <hr>
              <div align="center"> 
                <h3 class="text-navy"><strong><%= conteudo_canal.nome %></strong></h3>
                <!-- <div class="small"> 
                  <%# @autor = AutorConteudoConteudo.where(conteudo_id: conteudo_canal.id) %>
                  <%# @autor.each do |autor| %>
                      <p><%#= autor.autor_conteudo_id.blank? ? "" : Pessoa.find_by(usuario_id: current_usuario.id).nome %></p>
                  <%#end%>
                </div> -->
                <%= link_to 'Acessar tópicos', pages_topico_conteudo_path(:conteudo_id => conteudo_canal.id), class: "btn btn-primary", style: "background-color: #222; border:none;", role: "button" %>
              </div>
            <!-- </a> -->
            <!-- <div class="contact-box-footer">
              <small>
                Progresso: <%#= desafios_empresa.status_desafio_id.nil? ? "" : StatusDesafio.find(desafios_empresa.status_desafio_id).nome %> (<%#= (StatusDesafio.find(desafios_empresa.status_desafio_id).sequencia.to_i*100)/@status.to_i%>%)
              </small>
              <div class="progress progress-striped">
                <div style="width:  <%#= (desafios_empresa.status_desafio_id.nil? ? 0 : StatusDesafio.find(desafios_empresa.status_desafio_id).sequencia.to_i*100)/@status.to_i%>%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-info">
                </div>
                
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
        <% end %>
      </div>
    </div>
  </div>
      <% else %>
      <% @conteudo_canal.each do |conteudo_canal| %>
        <div class="col-lg-3">
          <div class="contact-box center-version" style="height: 380px; width: 252px;">
          <!-- <a href= "/desafios_empresas/<%#= desafios_empresa.id%>"> -->
            <div style="height: 148px;">
              <img src="<%= conteudo_canal.image %>" style="width:250px; height: auto;">
            </div>
            <hr>
            <div align="center"> 
              <h3 class="text-navy"><strong><%= conteudo_canal.nome %></strong></h3>
              <!-- <div class="small"> 
                <%# @autor = AutorConteudoConteudo.where(conteudo_id: conteudo_canal.id) %>
                <%# @autor.each do |autor| %>
                    <p><%#= autor.autor_conteudo_id.blank? ? "" : Pessoa.find_by(usuario_id: current_usuario.id).nome %></p>
                <%#end%>
              </div> -->
              <%= link_to 'Acessar tópicos', pages_topico_conteudo_path(:conteudo_id => conteudo_canal.id), class: "btn btn-primary", style: "background-color: #222; border:none;", role: "button" %>
            </div>
          <!-- </a> -->
          <!-- <div class="contact-box-footer">
            <small>
              Progresso: <%#= desafios_empresa.status_desafio_id.nil? ? "" : StatusDesafio.find(desafios_empresa.status_desafio_id).nome %> (<%#= (StatusDesafio.find(desafios_empresa.status_desafio_id).sequencia.to_i*100)/@status.to_i%>%)
            </small>
            <div class="progress progress-striped">
              <div style="width:  <%#= (desafios_empresa.status_desafio_id.nil? ? 0 : StatusDesafio.find(desafios_empresa.status_desafio_id).sequencia.to_i*100)/@status.to_i%>%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-info">
              </div>
              
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
<style type="text/css">
  .btn-primary:hover{
    background-color: #676a6c;
    border: none;
  }
  .contact-box:hover{
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  }
</style>