<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
              <div style="text-align:center">
                <h2>Conteúdos</h2>
              </div>
            </div>
          </div>
        </div>
        <p id="notice">
          <center class="alert-info">
            <%= notice %> 
          </center>
        </p>
      <% if @conteudo_busca.present? %>
	      <% @conteudo_busca.each do |conteudo_busca| %>
	        <div class="col-lg-3">
	          <div class="contact-box center-version" style="height: 380px; width: 252px;">
	          <!-- <a href= "/desafios_empresas/<%#= desafios_empresa.id%>"> -->
	            <div style="height: 148px;">
	              <img src="<%= conteudo_busca.image %>" style="width:250px; height: auto;">
	            </div>
	            <hr>
	            <div align="center"> 
	              <h3 class="text-navy"><strong><%= conteudo_busca.nome %></strong></h3>
	              <!-- <div class="small"> 
	                <%# @autor = AutorConteudoConteudo.where(conteudo_id: conteudo_busca.id) %>
	                <%# @autor.each do |autor| %>
	                    <p><%#= autor.autor_conteudo_id.blank? ? "" : Pessoa.find_by(usuario_id: current_usuario.id).nome %></p>
	                <%#end%>
	              </div> -->
	              <%#= link_to 'Acessar tópicos', pages_topico_conteudo_path(:conteudo_id => conteudo_canal.id), class: "btn btn-primary", style: "background-color: #222; border:none;", role: "button" %>
                
	            </div>
            </div>
          </div>
	      <% end %>
				<% else %>
				  <%= render :file => "pages/conteudo_error" %>
				<% end %>
    </div>
  </div>
</div>
<style type="text/css">
  .btn-primary:hover{
    background-color: #676a6c;
    border: none;
  }
  .contact-box:hover{
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  }
</style>