<div class="row" style="padding: 70px 0; text-align: center;">
	<div class="text-center animated fadeInLeftBig">
	<div class="col-lg-6" style="text-align: left;">
    <h2 class="font-bold">Não conseguimos encontrar nenhum resultado para sua busca :( </h2><br>
    <div class="error-desc">
      <h3>Tente ajustar sua busca. Aqui estão algumas dicas:</h3>
	    <ul>
	    	<li>Tenha certeza de que todas as palavras foram digitadas corretamente.</li>
	    	<li>Tente diferentes termos de busca.</li>
	    	<li>Tente termos de busca mais gerais.</li>
	    </ul>
    </div>
  </div>
  <div class="col-lg-6">
    <i class="fa fa-search" style="font-size: 200px; color: #e8e9eb;"></i>
  </div>
</div>
</div>