<%= javascript_include_tag "gallery" if ::Rails.application.assets.find_asset("gallery.js") %>
<%= stylesheet_link_tag "gallery" if ::Rails.application.assets.find_asset("gallery.css") %>
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400" rel="stylesheet">
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);" rel="stylesheet">  
  </head>
  <body style="font-family: 'Lato', sans-serif;">
    <!-- header curso início -->
      <!-- <div class="row wrapper border-bottom white-bg page-heading">
          <div class="col-lg-9">
              <h1 style="margin-left: 30px;">Iniciando com React</h1>
              <h2 style="margin-left: 30px;">Crie aplicações com React, a biblioteca desenvolvida pelo Facebook</h2>
              <small style="margin-left: 30px;">Criado por GuiaCódigo - Guilherme Ferreira</small>
          </div>
      </div> -->
      <!-- <div class="row wrapper border-bottom white-bg page-heading">
        <div class="row">
          <div class="col-lg-11 col-sm-6 col-xs-4">
            <h1 style="margin-left: 45px;">Iniciando com React</h1>
          </div>
          <div class="col-lg-1 col-sm-6 col-xs-8">
            <a href="<%#= carrinhos_path %>" class= "a">
              <div id="botao_carrinho">
                <#% if !@busca_carrinho.blank? %>
                  <span class="badge badge-warning pull-right" style="margin-right: 20px; margin-top: 5px; z-index: 3; position: absolute; right: 10px;"><%#= @busca_carrinho.count %></span>
                <#% end %>
                <button class="btn btn-circle btn-lg" type="button" title="Carrinho de compras" style="margin-right: 20px;margin-top: 10px"><i class="fa fa-shopping-cart" style="font-size:28px; margin-left: -5px;"></i></button>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-sm-6 col-xs-4" style="margin-left: 45px;">
            <ol class="breadcrumb">
              <li>
                <a href="<%= pages_index_path %>" class= "a" title="home"><i class="fa fa-home" aria-hidden="true"></i></a>
              </li>
              <li class="active">
                <strong>Curso</strong>
              </li>
           </ol>
          </div>
        </div>
      </div> -->
    <!-- header curso fim -->

    <!-- caixa de compra início -->
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox product-detail" style="box-shadow: 0 3px 5px rgba(0,0,0,0.2);">
              <div class="ibox-content">
                <div class="row">
                  <div class="col-md-7">
                    <h2 class="font-bold m-b-xs">Iniciando com React</h2>
                      <div class="m-t-md">
                        <h2 class="product-main-price">
                          $19,99
                          <!--  <small class="text-muted"><s> R$ 54,99 </s></small> -->
                        </h2>
                      </div>
                      <hr>
                      <h3>Descrição do curso</h3>
                      <p>
                        Curso de introdução ao React. Você vai aprender a configurar um ambiente profissional de desenvolvimento com React, processar a aplicação com Gulp, criar componentes reaproveitáveis, rodar a aplicação com Express, trabalhar com HTTP e a utilizar o React na prática. Aprenda agora React com esse curso de desenvolvimento web. Aprenda a dar os primeiros passos com o React!
                      </p>
                      <h4>Público-alvo</h4>
                      <ul>
                        <li>Desenvolvedores Front-end</li>
                        <li>Programadores</li>
                      </ul>
                      <h4>Requisitos</h4>
                        <ul>
                          <li>Conhecimento intermediário de Javascript e Lógica de Programação</li>
                        </ul>
                        <hr>
                        <div class="row">
                          <div class="col-sm-12 col-xs-12">
                            <div class="btn-group">
                              <button class="btn btn-primary btn-sm"><i class="fa fa-cart-plus"></i> Adicionar ao carrinho </button>
                              <button class="btn btn-white btn-sm"><i class="fas fa-shopping-basket"></i> Comprar agora </button>
                            </div>
                          </div>
                        </div>
                      </div>
                           <!--  <div class="col-md-5">
                                <div class="product-images">
                                    <div>
                                        <div class="image-imitation">
                                            <img alt="image" class="img-responsive" src="<%#= image_path('iniciando_com_react.jpg') %>">
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
          </div>
        </div>
      </div>
    </div>
    <!-- caixa de compra fim -->

    <!-- o que aprenderei curso início -->
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox product-detail" style="box-shadow: 0 3px 5px rgba(0,0,0,0.2);">
            <div class="ibox-content">
              <div class="row">
                <div class="col-md-7">
                  <h2 class="font-bold m-b-xs">O que aprenderei?</h2>
                  <p class= "p-box">
                    <i class="fa fa-check" style="font-size:24px"></i> Configurar um ambiente profissional de desenvolvimento com React. <br>
                    <i class="fa fa-check" style="font-size:24px"></i> Processar a aplicação com Gulp. <br>
                    <i class="fa fa-check" style="font-size:24px"></i> Criar componentes reaproveitáveis com React. <br>
                    <i class="fa fa-check" style="font-size:24px"></i> Utilizar o React na prática.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- o que aprenderei curso fim -->
    <br>
    <!-- box inclui início -->
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox product-detail" style="box-shadow: 0 3px 5px rgba(0,0,0,0.2);">
            <div class="ibox-content" >
              <div class="row">
                <div class="col-md-7">
                  <h2 class="font-bold m-b-xs">Inclui:</h2>
                   <p class= "p-box">
                    <i class="fa fa-video-camera"></i> Vídeo sob demanda de 3,5 horas;<br>
                    <i class="fa fa-folder-o"></i> 15 recursos complementares;<br>
                    <i class="fa fa-user" style="font-size:15px"></i> Acesso total vitalício;<br>
                    <i class="fa fa-mobile" style="font-size:20px"></i> Acesso no dispositivo móvel e na TV; <br>
                    <i class="fa fa-certificate" style="font-size:15px"></i>  Certificado de Conclusão; 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- box inclui fim -->
  </body>
</html>

<!-- Additional style only for demo purpose -->
<style>

  .a{
    color: #676a6c;
    font-size: 15px;
  }

  .a:hover{
    color: black;
  }
  .p-box{
    line-height: 25px; 
    font-size:14px; 
    margin-left: 10px;
  }
  .h1-box{
    font-weight: 400; 
    font-size: 25px; 
    margin-top: 5px; 
    margin-bottom: 10px; 
    margin-left: 10px;
  }



</style>

<% content_for :javascript do %>
  <script type="text/javascript">
    <% @lancamentos.each do |lancamento| %>
        $(document).ready(function(){
          $("#carrinhos_id-<%=lancamento.id%>").click(function(){
            $.ajax({

              method: 'GET',
              url: '/carrinhos/add_carrinho',
              data: {conteudo_id: <%= lancamento.id %>}

            })
            .done(function(retorno){
              $("#botao_carrinho").html(retorno);
            });
          });
        }); 
      <% end %>
  </script>
<% end %>