<%= javascript_include_tag "gallery" if ::Rails.application.assets.find_asset("gallery.js") %>
<%= stylesheet_link_tag "gallery" if ::Rails.application.assets.find_asset("gallery.css") %>

<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  </head>
  <body style="font-family: 'Lato', sans-serif;">

    <!-- head início -->
     <!--  <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-6">
            <h2>ADM University - Conteúdo para vencer</h2>   
        </div>
        <div class="col-lg-2">
          <a href= "<%#= meus_cursos_path %>" class="btn btn-lg btn-white" role="button">Meus cursos</a>
        </div>
        <div class="col-lg-2">
          <a href= "<%#=  new_conteudo_path %>" class="btn btn-lg btn-white" role="button">Torne-se um instrutor</a>
        </div>
        <div class="col-lg-2" id="botao_carrinho">
            <a href="<%#= carrinhos_path %>" class= "a">
              <#% if !@busca_carrinho.blank? %>
                <span class="badge badge-warning pull-right" style="margin-right: 20px; margin-top: 5px; z-index: 3; position: absolute; right: 10px;"><%= @busca_carrinho.count %></span>
              <#% end %>
              <button class="btn btn-circle btn-lg" type="button" title="Carrinho de compras" style="margin-right: 20px;margin-top: 10px"><i class="fa fa-shopping-cart" style="font-size:28px; margin-left: -5px;"></i></button>
            </a>
          </div>
      </div> -->
    <!-- head fim -->

    <!-- início carousel -->
    <!-- <div class="carousel">
          <div class="ibox-content ">
                    <div class="carousel slide" id="carousel2">
                        <ol class="carousel-indicators">
                            <li data-slide-to="0" data-target="#carousel2" class="active"></li>
                            <li data-slide-to="1" data-target="#carousel2"></li>
                            <li data-slide-to="2" data-target="#carousel2" class=""></li>
                        </ol>
                        <div class="carousel-inner" style="max-height: 500px;">
                            <div class="item active">
                                <img alt="image" class="img-responsive" src="<%#= image_path('carousel1.jpg') %>">
                                <div class="carousel-caption">
                                    <p>This is simple caption 1</p>
                                </div>
                            </div>
                            <div class="item ">
                                <img alt="image" class="img-responsive" src="<%#= image_path('carousel2.jpg') %>">
                                <div class="carousel-caption">
                                    <p>This is simple caption 2</p>
                                </div>
                            </div>
                            <div class="item">
                                <img alt="image" class="img-responsive" src="<%#= image_path('carousel3.jpg') %>">
                                <div class="carousel-caption">
                                    <p>This is simple caption 3</p>
                                </div>
                            </div>
                        </div>
                        <a data-slide="prev" href="#carousel2" class="left carousel-control">
                            <span class="icon-prev"></span>
                        </a>
                        <a data-slide="next" href="#carousel2" class="right carousel-control">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>
    </div> -->
    <!-- fim carousel -->

    <!-- container início -->
      <section class="bgcontainer">
        <div class="wrapper-overlay">
          <div class="inner-content" style="text-shadow: 0.4px 0.4px rgba(2,2,2,0.5);">
            <div class="col-lg-12">
            <div class="header-text">
              Descubra um novo mundo
            </div>
          </div>
            <div class="col-lg-5">
              <div class="header-body">
                <h2>Ganhe habilidades em tecnologia, negócios e desenvolvimento pessoal</h2>
              </div>
          </div>
          </div>
        </div>
      </section>
    <!-- container fim -->

    <!-- menu início -->
    <!-- <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-9 col-lg-offset-3 col-sm-6">
          <nav class="menu">
              <ul class="nav navbar-nav">
                <li><a href="#" role="button">Problemas nas empresas</a></li>
                <li><a href="#" role="button">Aulas para nível superior</a></li>
                <li><a href="#" role="button">Palestras</a></li>
                <li><a href="#" role="button">Cursos completos</a></li>
              </ul>
          </nav>
        </div>
    </div> -->
    <!-- menu fim -->

    <!-- slicks categorias dos cursos início -->
      <div style="background-color: #fff;">

        <!-- início minha lista -->
          <div class="row" id="minha_lista_partial">
            <div class="col-lg-10 col-lg-offset-1">
              <h2 class="text-center m" style="text-align: left; margin-bottom: -20px;">MINHA LISTA</h2>
              <div class="slick_demo_2">
                <% @minha_listum.each do |minha_lista| %>

                  <div style="margin-top: 30px;">
                    <!-- <a href="<%= pages_curso_url %>" class= "a"> -->
                      <div class="ibox-content draggable" >
                        <button id="deleta_lista-<%= minha_lista.id %>" class="btn btn-primary btn-circle" type="button" title="Remover da minha lista" style="margin-right: -30px; margin-top: -30px;"><i class="fa fa-times"></i></button>
                        <div align="center">
                          <tr>
                            <td width="200">
                              <%= image_tag(Conteudo.where(id: minha_lista.conteudo_id).first.image, class: "img-box img-responsive", style: "width:200px; height: auto;")%>
                            </td>
                          </tr>
                        </div>
                        <h3><%= Conteudo.where(id: minha_lista.conteudo_id, ativo: true).first.nome %></h3>
                        <!-- <#% AutorConteudoConteudo.joins(:autor_conteudo).where(conteudo_id: Conteudo.where(id: minha_lista.conteudo_id, ativo: true).first.id).each do |autorConteudoConteudo| %>
                          <p><#%= AutorConteudo.find(autorConteudoConteudo.autor_conteudo_id).modulos_pessoa.pessoa.nome %><if !autorConteudoConteudo.autor_conteudo_id.blank? %></p>
                        <#% end %> -->
                        <div class="row">
                          <div class="col-sm-6 col-xs-6">
                             <button id="carrinhos_id-<%=minha_lista.id%>" class="btn btn-primary btn-sm pull-left" title= "Adicionar ao carrinho" ><i class="fa fa-cart-plus"></i></button>
                          </div>
                          <div class="col-sm-6 col-xs-6">
                            <h4 align="right" class="pull-right">
                              <!-- R$<%#= Conteudo.where(id: minha_lista.conteudo_id, ativo: true).first.preco_sugerido %> -->
                              <%= number_to_currency(Conteudo.where(id: minha_lista.conteudo_id, ativo: true).first.preco_sugerido, unit: "R$ ", separator: ",", delimiter: ".", precision: 2) %>
                              
                            </h4>
                          </div>
                        </div>
                        <!-- <div class="btn">
                          <button class="btn btn-primary btn-sm" title= "adicionar ao carrinho" ><i class="fa fa-cart-plus"></i></button>
                        </div>
                        <h3 align="right">R$<%#= Conteudo.where(id: minha_lista.conteudo_id, ativo: true).first.preco_sugerido %></h3> -->
                      </div>
                    <!--  </a> -->
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <!-- fim minha lista -->

        <!-- início populares -->
          <!-- <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <h2 class="text-center m" style="text-align: left">POPULARES</h2>
                <div class="slick_demo_2">
                  <div>
                    <div class="ibox-content">
                      <img alt="image" class="img-responsive" src="<%#= image_path('iniciando_com_react.jpg') %>">
                      <h3>Iniciando com React</h3>
                      <p>Guilherme Ferreira</p>
                      <div class="row">
                        <div class="col-sm-6 col-xs-8">
                          <div class="btn-group">
                            <button class="btn btn-primary btn-sm" title= "adicionar ao carrinho" ><i class="fa fa-cart-plus"></i></button>
                            <button class="btn btn-white btn-sm" title="adicionar à minha lista"><i class="fa fa-plus"></i></button>
                          </div>
                        </div>
                        <div class="col-sm-6 col-xs-4">
                          <h3 align="right">R$ 19,99</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="ibox-content">
                      <img alt="image" class="img-responsive" src="<%#= image_path('inteligencia_de_vendas.jpg') %>">
                      <h3>Inteligência de vendas</h3>
                      <p>Autêntica Play</p>
                      <div class="row">
                        <div class="col-sm-6 col-xs-8">
                          <div class="btn-group">
                            <button class="btn btn-primary btn-sm" title= "adicionar ao carrinho" ><i class="fa fa-cart-plus"></i></button>
                            <button class="btn btn-white btn-sm" title="adicionar à minha lista"><i class="fa fa-plus"></i></button>
                          </div>
                        </div>
                        <div class="col-sm-6 col-xs-4">
                          <h3 align="right">R$ 19,99</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="ibox-content">
                      <img alt="image" class="img-responsive" src="<%#= image_path('oratoria_completo.jpg') %>">
                      <h3>Oratória Completo: Aprenda falar em público</h3>
                      <p>Livia Bello</p>
                      <div class="row">
                        <div class="col-sm-6 col-xs-8">
                          <div class="btn-group">
                            <button class="btn btn-primary btn-sm" title= "adicionar ao carrinho" ><i class="fa fa-cart-plus"></i></button>
                            <button class="btn btn-white btn-sm" title="adicionar à minha lista"><i class="fa fa-plus"></i></button>
                          </div>
                        </div>
                        <div class="col-sm-6 col-xs-4">
                          <h3 align="right">R$ 19,99</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="ibox-content">
                        <img alt="image" class="img-responsive" src="<%#= image_path('graphic_design_masterclass.jpg') %>">
                        <h3>Graphic Design Masterclass</h3>
                        <p>Lindsay Marsh</p>
                        <div class="row">
                          <div class="col-sm-6 col-xs-8">
                            <div class="btn-group">
                              <button class="btn btn-primary btn-sm" title= "adicionar ao carrinho" ><i class="fa fa-cart-plus"></i></button>
                              <button class="btn btn-white btn-sm" title="adicionar à minha lista"><i class="fa fa-plus"></i></button>
                            </div>
                          </div>
                          <div class="col-sm-6 col-xs-4">
                            <h3 align="right">R$ 19,99</h3>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        <!-- fim populares -->
        <!-- início lançamentos -->
          <div class="colunas">
            <div class="row">
              <div class="col-lg-10 col-lg-offset-1">
                <h2 class="text-center m" style="text-align: left">LANÇAMENTOS</h2>
                  <div class="slick_demo_2">
                    <% @lancamentos.each do |lancamento| %>
                      <div>
                        <div class="ibox-content draggable">
                          <div align="center">
                            <td width="200" style="align-items: center;">
                              <%= image_tag(lancamento.image, class: "img-box img-responsive", style: "width:200px; height: auto;")%>
                            </td>
                          </div>
                          <h3><%= lancamento.nome %></h3>
                         <!--  <#% @autor = AutorConteudoConteudo.where(conteudo_id: lancamento.id) %>
                          <#% @autor.each do |autor| %>
                            <p><%#= AutorConteudo.find(autor.autor_conteudo_id).modulos_pessoas.pessoas if !autor.autor_conteudo_id.blank? %></p>
                          <#% end %> -->
                          <%# @autor = AutorConteudoConteudo.where(conteudo_id: lancamento.id) %>
                          <%# @autor.each do |autor| %>
                            <!-- <p><%#= autor.autor_conteudo_id.blank? ? "" : Pessoa.find_by(usuario_id: current_usuario.id).nome %></p> -->
                          <%#end%>
                          <div class="row">
                            <div class="col-sm-7 col-xs-8">
                              <div class="btn-group">
                                <button id="carrinhos_id-<%=lancamento.id%>" class="btn btn-primary btn-sm" title= "Adicionar ao carrinho" ><i class="fa fa-cart-plus"></i></button>
                                <button id="lancamentos_id-<%= lancamento.id %>" class="btn btn-white btn-sm" title="Adicionar à minha lista"><i class="fa fa-plus"></i></button>
                              </div>
                            </div>
                            <div class="col-sm-5 col-xs-4">
                              <h4 align="right" class="pull-right"><!-- R<%#= number_to_currency(lancamento.preco_sugerido) %> --><%= number_to_currency(lancamento.preco_sugerido, unit: "R$ ", separator: ",", delimiter: ".", precision: 2) %></h4>
                            </div>
                          </div>
                        </div>
                      </div>    
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        <!-- fim lançamentos -->

        <!-- início continuar no conteúdo -->
          <!-- <div class="row">
            <div class="col-lg-10 col-lg-offset-1">

              <h2 class="text-center m" style="text-align: left">CONTINUAR NO CONTEÚDO</h2>

              <div class="slick_demo_2">
                <div>
                  <div class="ibox-content">
                    <img alt="image" class="img-responsive" src="<%#= image_path('iniciando_com_react.jpg') %>">
                    <h3>Iniciando com React</h3>
                    <p>Guilherme Ferreira</p>
                    <div class="row">
                      <div class="col-sm-6 col-xs-8">
                        <div class="btn-group">
                          <button class="btn btn-primary btn-sm" title= "adicionar ao carrinho" ><i class="fa fa-cart-plus"></i></button>
                          <button class="btn btn-white btn-sm" title="adicionar à minha lista"><i class="fa fa-plus"></i></button>
                        </div>
                      </div>
                      <div class="col-sm-6 col-xs-4">
                        <h3 align="right">R$ 19,99</h3>
                      </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="ibox-content">
                    <img alt="image" class="img-responsive" src="<%#= image_path('inteligencia_de_vendas.jpg') %>">
                    <h3>Inteligência de vendas</h3>
                    <p>Autêntica Play</p>
                    <div class="row">
                      <div class="col-sm-6 col-xs-8">
                        <div class="btn-group">
                          <button class="btn btn-primary btn-sm" title= "adicionar ao carrinho" ><i class="fa fa-cart-plus"></i></button>
                          <button class="btn btn-white btn-sm" title="adicionar à minha lista"><i class="fa fa-plus"></i></button>
                        </div>
                      </div>
                      <div class="col-sm-6 col-xs-4">
                        <h3 align="right">R$ 19,99</h3>
                      </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="ibox-content">
                    <img alt="image" class="img-responsive" src="<%#= image_path('oratoria_completo.jpg') %>">
                    <h3>Oratória Completo: Aprenda falar em público</h3>
                    <p>Livia Bello</p>
                    <div class="row">
                      <div class="col-sm-6 col-xs-8">
                        <div class="btn-group">
                          <button class="btn btn-primary btn-sm" title= "adicionar ao carrinho" ><i class="fa fa-cart-plus"></i></button>
                          <button class="btn btn-white btn-sm" title="adicionar à minha lista"><i class="fa fa-plus"></i></button>
                        </div>
                      </div>
                      <div class="col-sm-6 col-xs-4">
                        <h3 align="right">R$ 19,99</h3>
                      </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="ibox-content">
                    <img alt="image" class="img-responsive" src="<%#= image_path('graphic_design_masterclass.jpg') %>">
                    <h3>Graphic Design Masterclass</h3>
                    <p>Lindsay Marsh</p>
                    <div class="row">
                      <div class="col-sm-6 col-xs-8">
                        <div class="btn-group">
                          <button class="btn btn-primary btn-sm" title= "adicionar ao carrinho" ><i class="fa fa-cart-plus"></i></button>
                          <button class="btn btn-white btn-sm" title="adicionar à minha lista"><i class="fa fa-plus"></i></button>
                        </div>
                      </div>
                      <div class="col-sm-6 col-xs-4">
                        <h3 align="right">R$ 19,99</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        <!-- fim continuar no conteúdo -->

        <!-- início áreas > subáreas de conhecimento -->
          <!-- <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <h2 class="text-center m" style="text-align: left">ÁREAS > SUBÁREAS DE CONHECIMENTO</h2>

              <div class="slick_demo_2">
                <div>
                  <div class="ibox-content">
                      <img alt="image" class="img-responsive" src="<%#= image_path('iniciando_com_react.jpg') %>">
                      <h3>Iniciando com React</h3>
                      <p>Guilherme Ferreira</p>
                      <div class="row">
                        <div class="col-sm-6 col-xs-8">
                          <div class="btn-group">
                            <button class="btn btn-primary btn-sm" title= "adicionar ao carrinho" ><i class="fa fa-cart-plus"></i></button>
                            <button class="btn btn-white btn-sm" title="adicionar à minha lista"><i class="fa fa-plus"></i></button>
                          </div>
                        </div>
                        <div class="col-sm-6 col-xs-4">
                          <h3 align="right">R$ 19,99</h3>
                        </div>
                      </div>
                  </div>
              </div>
              <div>
                  <div class="ibox-content">
                      <img alt="image" class="img-responsive" src="<%#= image_path('inteligencia_de_vendas.jpg') %>">
                      <h3>Inteligência de vendas</h3>
                      <p>Autêntica Play</p>
                      <div class="row">
                        <div class="col-sm-6 col-xs-8">
                          <div class="btn-group">
                            <button class="btn btn-primary btn-sm" title= "adicionar ao carrinho" ><i class="fa fa-cart-plus"></i></button>
                            <button class="btn btn-white btn-sm" title="adicionar à minha lista"><i class="fa fa-plus"></i></button>
                          </div>
                        </div>
                        <div class="col-sm-6 col-xs-4">
                          <h3 align="right">R$ 19,99</h3>
                        </div>
                      </div>
                  </div>
              </div>
              <div>
                  <div class="ibox-content">
                      <img alt="image" class="img-responsive" src="<%#= image_path('oratoria_completo.jpg') %>">
                      <h3>Oratória Completo: Aprenda falar em público</h3>
                      <p>Livia Bello</p>
                      <div class="row">
                        <div class="col-sm-6 col-xs-8">
                          <div class="btn-group">
                            <button class="btn btn-primary btn-sm" title= "adicionar ao carrinho" ><i class="fa fa-cart-plus"></i></button>
                            <button class="btn btn-white btn-sm" title="adicionar à minha lista"><i class="fa fa-plus"></i></button>
                          </div>
                        </div>
                        <div class="col-sm-6 col-xs-4">
                          <h3 align="right">R$ 19,99</h3>
                        </div>
                      </div>
                  </div>
              </div>
              <div>
                <div class="ibox-content">
                  <img alt="image" class="img-responsive" src="<%#= image_path('graphic_design_masterclass.jpg') %>">
                    <h3>Graphic Design Masterclass</h3>
                    <p>Lindsay Marsh</p>
                    <div class="row">
                      <div class="col-sm-6 col-xs-8">
                        <div class="btn-group">
                          <button class="btn btn-primary btn-sm" title= "adicionar ao carrinho" ><i class="fa fa-cart-plus"></i></button>
                          <button class="btn btn-white btn-sm" title="adicionar à minha lista"><i class="fa fa-plus"></i></button>
                        </div>
                      </div>
                      <div class="col-sm-6 col-xs-4">
                        <h3 align="right">R$ 19,99</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        <!-- fim áreas > subáreas de conhecimento -->
      </div>
    <!-- slicks categorias dos cursos fim -->

      <!-- rodapé início -->
      <footer>
       <div class="container">
          <div class="row text-center"> 
            <img class="logo2" src="<%= image_path('adm_school_logo_branca.png') %>">
          </div>
          <div class="row text-center">   
            <ul class="list-inline">     
              <li>
                <a href="<%= pages_index_path %>">Home</a>
              </li>
              <li>
                <a href="#">Quem somos</a>
              </li>
              <li>
                <% if !session[:geradorconteudo].nil? %>
                  <!-- <a href= "<%#=  pages_painel_gerador_path %>" class="btn btn-white" role="button"  style="border: none;">Gerador de conteúdo</a> -->
                  <%= link_to 'Torne-se gerador de conteúdo'.html_safe, pages_painel_path%>
                <% else %>
                  <a href= "<%=  pages_landing_gerador_path %>">Torne-se gerador de conteúdo</a>
                <% end %>
              </li>
              <li>
                <a href="<%= usuario_session_path %>">Fazer login</a>
              </li>
              <li>
                <a href="<%= new_usuario_registration_path %>">Cadastre-se</a> 
              </li>
              <p class = "footer-p">Copyright © 2018 - YouSingular</p>
            </ul>
          </div>  
        </div> 
      </footer>
      <!-- rodapé fim -->
    
  </body>
</html>

<!-- Additional style only for demo purpose -->
<style>
  body{
    background-color: #FFF;
  } 
  button{
    display: none;
    width: 40px;
    height: 100%;
    float: right;
  }
  #page-wrapper{
    padding: 0px 0px;
  }  
</style>

<% content_for :javascript do %>

  <script type="text/javascript">
    $(function() {

        $('.slick_demo_2').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            centerMode: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });

    });
  
    <% @lancamentos.each do |lancamento| %>
      $(document).ready(function(){
        $("#lancamentos_id-<%= lancamento.id %>").click(function(){
          $.ajax({

            method: 'GET',
            url: '/minha_lista/add_lista',
            data: {lancamentos_id: <%= lancamento.id %> }

          })
          .done(function(retorno){
            $("#minha_lista_partial").html(retorno);
          });
        });

        $("#carrinhos_id-<%=lancamento.id%>").click(function(){
          $.ajax({

            method: 'GET',
            url: '/carrinhos/add_carrinho',
            data: {conteudo_id: <%= lancamento.id %>}

          })
          .done(function(retorno){
            $("#botao_carrinho").html(retorno);
          });
        });
      }); 
    <% end %>
    <% @minha_listum.each do |minha_lista| %>   
      $("#deleta_lista-<%= minha_lista.id %>").click(function(){
          $.ajax({

            method: 'GET',
            url: '/minha_lista/deleta_lista',
            data: {minha_lista_id: <%= minha_lista.id %>}

          })
          .done(function(retorno){
            $("#minha_lista_partial").html(retorno);
          });
      });
      $("#carrinhos_id-<%=minha_lista.id%>").click(function(){
          $.ajax({

            method: 'GET',
            url: '/carrinhos/add_carrinho',
            data: {conteudo_id: <%= minha_lista.conteudo_id %>}

          })
          .done(function(retorno){
            $("#botao_carrinho").html(retorno);
          });
        });
    <% end %>
  </script>

<% end %>
