<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet"> 
  </head>
  <body>
    <!-- container início -->
      <section class="bgcontainer">
        <div class="wrapper-overlay">
          <div class="inner-content">
            <div class="header-text col-sm-12 col-xs-12" style="font-size: 40px;">
              Ensine o mundo online
            </div>
            <div class="header-body col-sm-12 col-xs-12" style="font-size: 20px;">
              Compartilhe seu conhecimento e alcance milhares de alunos.
            </div>
            <div class="buttons">
              <!-- <a href="<%#= pages_painel_gerador_path %>" class="instruct btn btn-lg">Torne-se um gerador de conteúdo</a> -->
              <%= link_to 'Torne-se um gerador de conteúdo'.html_safe, pages_modulo_gerador_path, :class => 'instruct btn btn-lg'%>
            </div>
          </div>
        </div>
      </section>
    <!-- container fim -->
    <!-- nav container início -->
      <div class="row wrapper border-bottom white-bg page-heading" style="height:450px; background-color: white; color: #5f5f5f;">
        <div class = "row" align="center" style="margin-top: 80px;">
          <div class="headline col-lg-4 col-lg-offset-4">
            <p style="font-size: 35px; color: #333;">
              Descubra seu potencial
            </p>
          </div>
        </div>
        <div class="row nav-container" align="center" style="margin-top: 50px;">
          <div class="col-lg-3 col-lg-offset-1 col-sm-12 col-xs-12">
            <img class="img-responsive" src="<%= image_path('hand-money.png') %>" style="width:100px; height: auto;">
            <h2>Ganhe dinheiro extra</h2>
            <p>Assim que seu curso estiver online em nossa plataforma, os alunos poderão descobri-lo e comprá-lo. Você ganha dinheiro toda vez que um aluno comprar seu curso.</p>
          </div>
          <div class="col-lg-4 col-sm-12 col-xs-12">
            <img class="img-responsive" src="<%= image_path('video-player.png') %>" style="width:100px; height: auto;">
            <h2>Inspire alunos</h2>
            <p>Ajude alunos a avançar em suas carreiras, aprender novas habilidades e explorar diferentes hobbies ensinando o que você tem paixão.</p>
          </div>
          <div class="col-lg-3 col-sm-12 col-xs-12">
            <div>
              <img class="img-responsive" src="<%= image_path('question-outline.png') %>" style="width:100px; height: auto;">
            </div>
            <h2>Obtenha suporte</h2>
            <p>Aproveite nossos recursos de ensino, suporte ou junte-se à nossa comunidade de geradores para receber ajuda durante o processo de criação de seu curso.</p>
          </div>
        </div>
      </div>
      <!-- nav container fim -->
      <!-- como funciona início -->
      <div class="row wrapper border-bottom white-bg page-heading" style="height:450px; background-color: white; color: #5f5f5f;">
        <div class = "row" align="center" style="margin-top: 80px;">
          <div class="headline col-lg-4 col-lg-offset-4 col-sm-12 col-xs-12">
            <p style="font-size: 35px; color: #333;">
              Como funciona
            </p>
          </div>
        </div>
        <div class="row nav-container" align="center" style="margin-top: 50px;">
          <div class="col-lg-4 col-sm-12 col-xs-12">
            <img class="img-responsive" src="<%= image_path('rating.png') %>" style="width:100px; height: auto;">
            <h2>1- Escolha seu tópico</h2>
          </div>
          <div class="col-lg-4 col-sm-12 col-xs-12">
            <img class="img-responsive" src="<%= image_path('video-cam.png') %>" style="width:100px; height: auto;">
            <h2>2- Crie um curso</h2>
          </div>
          <div class="col-lg-4 col-sm-12 col-xs-12">
            <div>
              <img class="img-responsive" src="<%= image_path('talk-box.png') %>" style="width:100px; height: auto;">
            </div>
            <h2>3- Conecte-se com alunos</h2>
          </div>
        </div>
      </div>
      <!-- como funciona fim -->
      <!-- torne-se um instrutor início -->
        <div class="row wrapper border-bottom white-bg page-heading" style="height:350px; background-color: white; color: #5f5f5f;">
          <div class = "row" align="center" style="margin-top: 80px;">
            <div class="headline col-lg-12 col-sm-12 col-xs-12">
              <p style="font-size: 30px; color: #333;">
                Torne-se um gerador de conteúdo hoje
              </p>
            </div>
            <div class= "header-body col-lg-12 col-sm-12 col-xs-12" style="font-size: 20px; margin-top: 20px;">
              <p>Junte-se à nossa plataforma de educação online.</p>
            </div>
            <div class="buttons col-lg-12 col-sm-12 col-xs-12" style="margin-top: 30px;">
              <!-- <a href="<%#= pages_painel_gerador_path %>" class="instruct btn btn-lg">Torne-se um gerador de conteúdo</a> -->
              <%= link_to 'Torne-se um gerador de conteúdo'.html_safe, pages_modulo_gerador_path, :class => 'instruct btn btn-lg'%>
            </div>
            </div>
        </div>
      <!-- torne-se um instrutor fim -->
       <!-- rodapé início -->
      <footer>
       <div class="container">
          <div class="row text-center"> 
            <img class="logo2" src="<%= image_path('adm_school_logo_branca.png') %>">
          </div>
          <div class="row text-center">   
            <ul class="list-inline">     
              <li>
                <a href="<%= pages_index_path %>">Home</a>
              </li>
              <li>
                <a href="#">Quem somos</a>
              </li>
              <li>
                <a href="<%= new_conteudo_path %>">Torne-se um gerador</a>
              </li>
              <li>
                <a href="<%= usuario_session_path %>">Fazer login</a>
              </li>
              <li>
                <a href="<%= new_usuario_registration_path %>">Cadastre-se</a> 
              </li>
              <p class = "footer-p">Copyright © 2018 - ADM University</p>
            </ul>
          </div>  
        </div> 
      </footer>
      <!-- rodapé fim -->
  </body>
</html>
<style type="text/css">
  /*style geral*/
    body{ 
      font-family: 'Montserrat', sans-serif;
      background-color: white;
      background-color: #111;
    }
  /*style geral fim*/
  /*container style início*/
    .instruct{
      background-color: #FF9500; /*#ff5050;*/
      color: #fff;
    }
    .instruct:hover{
      background-color: #BD6F00; /*#521822;*/
      color: #fff;
    }
    .bgcontainer{
      background-image: url('<%= image_path('lights.jpg') %>');
      background-size: cover;
      margin:0;
      padding: 0;
      width: 100%;
    }
    .header-text{
      font-family: 'Open Sans', sans-serif;
      font-size: 40px;
    }
    .header-body{
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
    }
    .wrapper-overlay {
      height: 500px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      display: grid;
      grid-template-columns: 10% auto;
      align-content: center;
      font-size: 200%;
      line-height: 200%;
    }

    .inner-content {
      grid-column: 2;
    }
  /*container style fim*/
  /*nav container style inicio*/
    .headline:after {
      content: " ";
      display: block;
      border-bottom: 2px solid #FF9500; /*#ff5050;*/
      width: 60px;
    }
  /*nav container style fim*/
  /*rodapé style início*/
    .logo2{
      max-height: 80px;
      margin-bottom: 10px;
    }
    .footer-p{
      color: #fff;
      margin-top: 40px;
    }

    footer{
      background-color: #222;
      padding: 30px 0px;
      max-height: 220px;
    }

    footer .menu li a{
      color:#fff;
      padding:10px;
      text-decoration:none;
    }

    footer .menu li a:hover{
      color:#676a6c;
    }

    ul li a{
      color: #fff;
    }

    ul li a:hover{
      color: #000;
    }
  /*rodapé style fim*/
  #page-wrapper{
    padding: 0px 0px;
   }
</style>