<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Painel do gerador de conteúdo</h2>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <!-- <a href="<%#= new_conteudo_path %>" class="btn btn-primary">Crie um novo conteúdo</a> -->
      <%= link_to '<i class="fa fa-plus"></i> Novo conteúdo'.html_safe, new_conteudo_path, :class => 'btn btn-white', :title => 'Novo conteúdo' %>
      <%= link_to '<i class="fa fa-plus"></i> Novo tópico de conteúdo'.html_safe, new_topicos_conteudo_path, :class => 'btn btn-white', :title => 'Novo tópico de conteúdo' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Conteúdos</h5>
      </div>
      <% @paineis.each do |painel| %>
      <div class="ibox-content">
        <div class="table-responsive">
          <table class="table shoping-cart-table">
            <tbody>
              <tr>
                
                  <div align="center">
                    <td width="200" style="align-items: center;">
                      <%= image_tag(painel.image, class: "img-box img-responsive", style: "width:200px; height: auto;")%>
                    </td>
                  </div>
                <td class="desc">
                  <h3><%= painel.nome %></h3>
                  <!-- <p class="small">
                    <%# @autor = AutorConteudoConteudo.where(conteudo_id: painel.id) %>
                    <%# @autor.each do |autor| %>
                      <%#= autor.autor_conteudo_id.blank? ? "" : Pessoa.find_by(usuario_id: current_usuario.id).nome %>
                    <%#end%>
                  </p> -->
                  <!-- <dl class="small m-b-none">
                      <dt>Tópicos publicados na grade</dt>
                      <h2>1</h2>
                  </dl> -->
                </td>
                <td>
                  <%= link_to 'Gerenciar curso', conteudo_path(id: painel.id), class: "btn btn-primary", role: "button" %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <%end%>
    </div>
  </div>
</div>