<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title border-rsup">
          <div class="row">
            <div class="col-lg-1 col-sm-2 col-md-2 col-xs-2">
             <%#= link_to '<i class="fa fa-reply"></i> Voltar'.html_safe,topicos_conteudos_path, :class => 'btn btn-white', :title => 'Voltar' %>
            </div>
            <div class="col-lg-11 col-sm-10 col-md-10 col-xs-10">
              <h2 align="center">Visualizando conteúdo</h2> 
            </div>
          </div>
        </div>
        <div class="ibox-content border-rinf">
          <p id="notice">
            <center class="alert-info">
              <%= notice %> 
            </center>
          </p>
          <div class="panel panel-default">
            <div class="panel-body">
              <p align="center">
                <iframe width="900" height="500" src="<%= @topico.link.gsub('watch?v=','embed/')%>" frameborder="0" allowfullscreen></iframe>
              </p>

            </div>
          </div>
            <%#= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_topicos_conteudo_path(@topicos_conteudo), :class => 'btn btn-white  ', :title => 'Editar' %>
            <%#= link_to '<i class="fa fa-plus"></i> Novo'.html_safe, new_topicos_conteudo_path, :class => 'btn btn-white', :title => 'Novo' %>
        </div>
      </div>
    </div>
  </div>
</div>