<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="row">
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 ">
              <h4><%= link_to '<i class="fa fa-plus"></i> Novo'.html_safe, new_topicos_conteudo_path, :class => 'btn btn-white', :title => 'Novo tópico de conteúdo' %></h4>
            </div>
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11 ">
              <div style="text-align:center">
                <h2>Tópicos do conteúdo</h2>
              </div>
            </div>
          </div>
        </div>
        <p id="notice">
          <center class="alert-info">
            <%= notice %> 
          </center>
        </p>
       <div class="table-responsive" style="padding-bottom: 130px;">
        <table class="table table-hover">
          <thead class="table table-bordered">
            <tr>
              <th>Conteúdo</th>
              <th>Descrição do tópico</th>
              <th>Objetivo</th>
              <th>Resumo</th>
              <!-- <th>Formato de conteúdo</th> -->
              <th>Link do vídeo</th>
              <th></th>
            </tr>
          </thead>

          <tbody class="table table-hover">
          <% if @topico.blank? %>
            <% @topico_params = TopicosConteudo.where(conteudo_id: params[:conteudo_id], ativo: true) %>
              <% @topico_params.each do |topicos_conteudo| %>
                <tr>
                  <td><%= topicos_conteudo.conteudo_id.blank? ? "" : Conteudo.find(topicos_conteudo.id).nome %></td>
                  <td><%= topicos_conteudo.descricao %></td>
                  <td><%= topicos_conteudo.objetivo %></td>
                  <td><%= topicos_conteudo.resumo %></td>
                  <!--  <td><%#= topicos_conteudo.formato_conteudo_id.nil? ? "" : FormatoConteudo.find(topicos_conteudo.formato_conteudo_id).nome %></td> -->
                  <td><a href="<%= topicos_conteudo.link %>"><%= topicos_conteudo.link %></a></td>
                  <td>
                    <div class="input-group-btn">
                      <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">Ações <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><%#= link_to 'Ver', topicos_conteudo, :title => 'Visualizar' %></li>
                        <li><%= link_to 'Visualizar tópico',  pages_show_topico_path(:id => topicos_conteudo.id) %></li>
                        <li>
                          <%= link_to 'Editar', edit_topicos_conteudo_path(topicos_conteudo), :title => 'Editar' %>
                        </li>
                        <li>
                          <%= link_to 'Deletar', topicos_conteudo, method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse registro ?' }, :title => 'Deletar' %>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              <% end %>
          <% else %>
            <% @topico.each do |topicos_conteudo| %>
              <tr>
                <td><%= Conteudo.find(topicos_conteudo.conteudo_id).nome %></td>
                <td><%= topicos_conteudo.descricao %></td>
                <td><%= topicos_conteudo.objetivo %></td>
                <td><%= topicos_conteudo.resumo %></td>
                <!--  <td><%#= topicos_conteudo.formato_conteudo_id.nil? ? "" : FormatoConteudo.find(topicos_conteudo.formato_conteudo_id).nome %></td> -->
                <td><a href="<%= topicos_conteudo.link %>"><%= topicos_conteudo.link %></a></td>
                <td>
                  <div class="input-group-btn">
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">Ações <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><%#= link_to 'Ver', topicos_conteudo, :title => 'Visualizar' %></li>
                      <li><%= link_to 'Visualizar tópico',  pages_show_topico_path(:id => topicos_conteudo.id) %></li>
                      <li>
                        <%= link_to 'Editar', edit_topicos_conteudo_path(topicos_conteudo), :title => 'Editar' %>
                      </li>
                      <li>
                        <%= link_to 'Deletar', topicos_conteudo, method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse registro ?' }, :title => 'Deletar' %>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
</div>