<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet"> 
  </head>
  <body class="body"  style="margin: 0px ! important; padding: 0px ! important; width: 100% !important; float: left;">
    <!-- header inicio -->
    <section id="testimonials" class="navy-section testimonials bg-head">
      <div class="container">
        <div class="row" style=" margin:0px; padding: 0px; height: 400px;">
          <div class="col-lg-6" style="margin-top: 45px;">
            <tr>
               <td width="500">
                <img src="<%= @meus_curso.image %>" style="width:500px; height: auto;">
               </td>
            </tr>
          </div>
          <div class="col-lg-6 text-center wow zoomIn" style="margin-top: 80px; color:white; float:right; text-align: left;">
            <div class="testimonials-text">
              <h2><%= @meus_curso.nome %></h2>
              <!-- <a class="btn btn-lg btn-primary" href="#" role="button">Acessar conteúdos</a> -->
              <%= link_to 'Começar curso', pages_assistir_curso_path(:conteudo_id => @meus_curso.id), class: "btn btn-lg btn-primary", role: "button" %>
            </div>           
          </div>
        </div>
      </div>
    </section>
    <!-- header fim -->
    <section id="testimonials" class="navy-section testimonials">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 text-center wow zoomIn" style="margin-top: 80px; text-align: left; color: #29303b;">
            <div class="testimonials-text">
              <h2>Sobre este curso</h2><br>
              <h3><%= @meus_curso.nome %></h3><br>
              <hr style="border-top: 1px solid grey;">
              <div class="row">
                <div class="col-lg-4">
                  <h4>Descrição</h4>
                </div>
                <div class="col-lg-8">
                  <p><%= @meus_curso.descricao %></p>

                  <br>
                
                  <!-- <h4>Quais são os requisitos?</h4>
                
                  <ul>
                    <li><%#= @meus_curso.pre_requisito %></li>
                  </ul>

                  <br>

                  <h4>Objetivos</h4>

                  <ul>
                    <li><%#= @meus_curso.objetivo %></li>
                  </ul>
                </div> -->
              </div>

              <hr style="border-top: 1px solid grey;">

              <!-- <div class="row">
                 <div class="col-lg-4">
                  <h4>Autor(es) do conteúdo</h4>
                </div>
                <div class="col-lg-8" style="list-style-type:none;">
                  <#% AutorConteudoConteudo.where(conteudo_id: @meus_curso.id).each do |autor|  %>
                    <li><h4><%#= autor.autor_conteudo.nome %></h4></li>
                  <#% end %>
                </div>
              </div> -->
            </div>           
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
<style type="text/css">
  /*header style inicio*/
    .body{
      background-color: white;
    }
    ul{
      list-style-type:none;
    }
    section{
      font-family: 'Montserrat', sans-serif;
    }
    .bg-head{
      background-color: #111;
    }
    .btn{
      font-family: 'Open Sans', sans-serif;
    }
    .btn:hover{
      background-color: #676a6c;
      border: none;
    }
  /*header style fim*/
   #page-wrapper{
    padding: 0px 0px;
   }
</style>