<h1>Bem vindo ao Admschool, <%= @empresa.nome %></h1>
  <p>
    Sua inscrição em nossa plataforma foi concluída com sucesso.<br>
  </p>
<p>Obrigada por se inscrever e lance o seu desafio em example.com/example!</p>