<%= form_for(@orientacoes_desafio) do |f| %>
  <% if @orientacoes_desafio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orientacoes_desafio.errors.count, "error") %> prohibited this orientacoes_desafio from being saved:</h2>

      <ul>
      <% @orientacoes_desafio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :desafios_empresa_id %><br>
    <%= f.text_field :desafios_empresa_id %>
  </div>
  <div class="field">
    <%= f.label :orientacao %><br>
    <%= f.text_area :orientacao %>
  </div>
  <div class="field">
    <%= f.label :ativo %><br>
    <%= f.check_box :ativo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
