<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col">
      <div class="ibox float-e-margins">
        <div class="ibox-title border-rsup">
          <div class="row">
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11 ">
              <div style="text-align:center">
                <h2>Desafiar Empresas <span class="badge badge-primary"><%= @desafiar.count %></span></h2>
              </div>
            </div>
          </div>
        </div>
        <p id="notice">
          <center class="alert-info">
            <%= notice %> 
          </center>
        </p>
     <% @desafiar.each do |desafiar| %>
          <div class="col-md-4">
            <div class="ibox-content">
              <div class="row">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
                  <h2>
                    <%= desafiar.nome %>
                  </h2>
                  <div class="tag-list">
                    <span class="tag-item"> <%= desafiar.instituicao_ensino == true ? "Instituição de Ensino" : "Empresa"%></span>
                  </div>
                </div>

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
                  <%= link_to '<i class="fa fa-envelope"></i>'.html_safe, new_orientacoes_desafio_path, class: "btn btn-white"%>
                </div>
              </div>

            </div>
          </div>
        <% end %>
      </div> 
    </div>
  </div>
</div>
<h1>Listing Orientacoes Desafios</h1>

<table>
  <thead>
    <tr>
      <th>Desafios empresa</th>
      <th>Orientacao</th>
      <th>Ativo</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @orientacoes_desafios.each do |orientacoes_desafio| %>
    <tr>
      <td><%= orientacoes_desafio.desafios_empresa %></td>
      <td><%= orientacoes_desafio.orientacao %></td>
      <td><%= orientacoes_desafio.ativo %></td>
      <td><%= link_to 'Show', orientacoes_desafio %></td>
      <td><%= link_to 'Edit', edit_orientacoes_desafio_path(orientacoes_desafio) %></td>
      <td><%= link_to 'Destroy', orientacoes_desafio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orientacoes desafio', new_orientacoes_desafio_path %>
