<p id="notice"><%= notice %></p>

<p>
  <strong>Desafios empresa:</strong>
  <%= @orientacoes_desafio.desafios_empresa %>
</p>

<p>
  <strong>Orientacao:</strong>
  <%= @orientacoes_desafio.orientacao %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @orientacoes_desafio.ativo %>
</p>

<%= link_to 'Edit', edit_orientacoes_desafio_path(@orientacoes_desafio) %> |
<%= link_to 'Back', orientacoes_desafios_path %>
