<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, "Email" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.label :password, "Senha" %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field"><br>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "Mantenha-se conectado"%>
    </div><br>
  <% end -%>

  <div class="actions">
    <%= f.submit "Entrar", class: "btn btn-primary btn-block" %>
  </div><br>
<% end %>

<%= render "devise/shared/links" %>
