<%= form_for(@topicos_conteudo) do |f| %>
  <% if @topicos_conteudo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topicos_conteudo.errors.count, "error") %> prohibited this topicos_conteudo from being saved:</h2>

      <ul>
      <% @topicos_conteudo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form class="form-horizontal">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label :conteudo_id, "Conteúdo:" %> <e style="color: black">*</e>
          <%= f.select :conteudo_id, Conteudo.where(ativo: true).collect {|u| [(u.nome if !u.nome.nil?), (u.id if !u.id.nil?)]}, {:prompt => 'Selecione o conteúdo'}, class: "form-control", :required => true  %>
        </div>
        <!-- <div class="form-group">
          <%#= f.label :formato_conteudo_id, "Formato de conteúdo:" %> <e style="color: black">*</e>
          <%#= f.select :formato_conteudo_id, FormatoConteudo.where(ativo: true).collect {|u| [(u.nome if !u.nome.nil?), (u.id if !u.id.nil?)]}, {:prompt => 'Selecione o formato de conteúdo'}, class: "form-control", :required => true  %>
        </div> -->
        <div class="form-group">
          <%= f.label :descricao, "Descrição do tópico de conteúdo:" %><e style="color: black">*</e><br>
          <%= f.text_area :descricao, class: "form-control", :required => true %>
        </div>
        <div class="form-group">
          <%= f.label :objetivo, "Objetivo" %><e style="color: black">*</e><br>
          <%= f.text_field :objetivo, class: "form-control", :required => true %>
        </div>
        <div class="form-group">
          <%= f.label :resumo, "Resumo do tópico de conteúdo:" %><e style="color: black">*</e><br>
          <%= f.text_area :resumo, class: "form-control", :required => true %>
        </div>
        <div class="form-group">
          <%= f.label :link, "Link do vídeo:" %><e style="color: black">*</e><br>
          <%= f.text_field :link, class: "form-control", :required => true %>
        </div>
        <!-- <div class="form-group">
          <%#= f.label :video, "Anexe o seu conteúdo" %><br>
          <%#= f.file_field :video%>
        </div> -->
    <div class="actions">
      <%= button_tag(type: 'submit', class: "btn btn-white ", title: 'Salvar') do %>
        <i class="fa fa-save"></i> Salvar
      <% end %>
      </div>
    </div>
    </div>
  </form>
<% end %>