<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title border-rsup">
          <div class="row">
            <div class="col-lg-1 col-sm-2 col-md-2 col-xs-2">
             <%= link_to '<i class="fa fa-reply"></i> Voltar'.html_safe,topicos_conteudos_path, :class => 'btn btn-white', :title => 'Voltar' %>
            </div>
            <div class="col-lg-11 col-sm-10 col-md-10 col-xs-10">
              <h2 align="center">Visualizando conteúdo</h2> 
            </div>
          </div>
        </div>
        <div class="ibox-content border-rinf">
          <p id="notice">
            <center class="alert-info">
              <%= notice %> 
            </center>
          </p>
          <div class="panel panel-default">
            <div class="panel-body">
              <p>
                <strong>Conteúdo:</strong>
                <%= @topicos_conteudo.conteudo_id.nil? ? "" : Conteudo.find(@topicos_conteudo.conteudo_id).nome %>
              </p>
              <!-- <p>
                <strong>Formato conteudo:</strong>
                 <%#= @topicos_conteudo.formato_conteudo_id.nil? ? "" : FormatoConteudo.find(@topicos_conteudo.formato_conteudo_id).nome %>
              </p> -->
              <p>
                <strong>Descrição do tópico:</strong>
                <%= @topicos_conteudo.descricao %>
              </p>
              <p>
                <strong>Objetivo do tópico de conteúdo:</strong>
                <%= @topicos_conteudo.objetivo %>
              </p>
              <p>
                <strong>Resumo do tópico de conteúdo:</strong>
                <%= @topicos_conteudo.resumo %>
              </p>
              <p>
                <strong>Vídeo:</strong><br>
                <iframe width="700" height="700" src="<%= @topicos_conteudo.link.gsub('watch?v=','embed/')%>" frameborder="0" allowfullscreen></iframe>
              </p>

            </div>
          </div>
            <%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_topicos_conteudo_path(@topicos_conteudo), :class => 'btn btn-white  ', :title => 'Editar' %>
            <%= link_to '<i class="fa fa-plus"></i> Novo'.html_safe, new_topicos_conteudo_path, :class => 'btn btn-white', :title => 'Novo' %>
        </div>
      </div>
    </div>
  </div>
</div>