<html>
  <head>
      <meta charset="UTF-8">
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet"> 
    </head>
  <body>
    <!-- navbar início -->
      <section>
        <div class="container-fluid header">
          <div class="row">
            <div class="col-md-12 col-sm-10 nav-bar">
              <img class="logo" src="<%= image_path('adm-icone.ico') %>">
              <div clas= "col-lg-8 col-sm-2"> 
                <a class="nav-bar-link" href="<%= usuario_session_path %>">Fazer login</a>
                <a class="nav-bar-link" href="<%= new_usuario_registration_path %>">Cadastre-se</a> 
              </div>
              </div>  
            </div>
          </div>
        </div>
      </section>
      <!-- <div class="row white-bg">
        <nav class="navbar navbar-static-top" role="navigation">
          <div class="navbar-header">
              <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                  <i class="fa fa-reorder"></i>
              </button>
              <a href="#" class="navbar-brand"><img class="logo" src="<%#= image_path('adm_school_logo.png') %>"></a>
          </div>
          <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="#">
                        <i class="fa fa-sign-out"></i> Cadastre-se
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="#">
                        <i class="fa fa-sign-out"></i> Entrar
                    </a>
                </li>
            </ul>
          </div>
        </nav>
      </div> -->
    <!-- navbar fim -->
    <!-- container início -->
      <section class="bgcontainer">
        <div class="wrapper-overlay">
          <div class="inner-content">
            <div class="header-text">
              YouSingular
            </div>
            <div class="header-body">
              Crie e venda cursos online <br>
              Aproveite nossa melhor oferta de cursos
            </div>
           <!--  <div class="buttons">
              <button class="signup">signup for a one month trial</button>
              <button class="signin">sign in</button>
            </div> -->
          </div>
        </div>
      </section>
    <!-- container fim -->
    <!-- nav container início -->
      <div class="row wrapper border-bottom white-bg page-heading" style="height:450px; background-color: white; color: #5f5f5f;">
        <div class = "row" align="center" style="margin-top: 80px;">
          <div class="col-lg-4 col-lg-offset-4">
            <p style="font-size: 25px; color: #333;">
             Faça parte da YouSingular
            </p>
          </div>
          <div class="col-lg-8 col-lg-offset-2">
            <p style="font-size: 15px; float: center;">
              Junte-se ao time de geradores de conteúdo que usam o YouSingular para compartilhar os seus conhecimentos. Crie conteúdos online de um jeito ótimo e prático.
            </p>
          </div>
        </div>
        <div class="row nav-container" align="center" style="margin-top: 50px;">
          <div class="col-lg-4 col-sm-12 col-xs-12">
            <img class="img-responsive" src="<%= image_path('online-course.png') %>" style="width:100px; height: auto;">
            <h2>Cursos online</h2>
            <p>Conheça uma variedade de temas atuais </p>
          </div>
          <div class="col-lg-4 col-sm-12 col-xs-12">
            <img class="img-responsive" src="<%= image_path('instructor.png') %>" style="width:100px; height: auto;">
            <h2>Especialistas do mercado</h2>
            <p>Encontre o gerador de conteúdo ideal para você</p>
          </div>
          <div class="col-lg-4 col-sm-12 col-xs-12">
            <div>
              <img class="img-responsive" src="<%= image_path('timeless2.png') %>" style="width:100px; height: auto;">
            </div>
            <h2>Acesso Vitalício</h2>
            <p>Aprenda no seu tempo</p>
          </div>
        </div>
      </div>
      <!-- nav container fim -->
    <!-- torne-se um gerador de conteúdo início -->
      <section id="testimonials" class="navy-section testimonials" style="margin-top: 80px;">
        <div class="container">
            <div class="row" style="height: 400px;">
                <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 text-center wow zoomIn" style="margin-top: 80px; color: #333;">
                  <div class="testimonials-text">
                    <h2>Torne-se um gerador de conteúdo</h2>
                    <p>Ensine o que você adora. A YouSingular fornece as ferramentas para você criar um curso online. </p>
                    <a class="btn button btn-primary btn-outline btn-lg" href="#" role="button">Comece agora</a>
                  </div>           
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <img class="img-responsive" src="<%= image_path('group-online.png') %>" style="height: 400px; width: auto;">
                </div>
            </div>
        </div>
      </section>
    <!-- torne-se um gerador de conteúdo fim -->
    <!-- container informação conteúdo início -->
      <section id="testimonials" class="navy-section testimonials bgimg" style="margin-top: 80px;">
        <div class="container">
            <div class="row" style="height: 450px;">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img class="img-responsive" src="<%= image_path('student-computer-fundo-branco.png') %>" style="height: 400px; width: auto; margin-top: 50px;">
              </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center wow zoomIn" style="margin-top: 80px; color: #333;">
                  <div class="testimonials-text">
                    <h1 style="font-size: 25px; color: white;">
                      Confira um simples passo a passo para se tornar um gerador de conteúdo(é totalmente gratuito!):
                    </h1>
                    <ol style="color: white; text-align: left;">
                      <li>Crie um curso na YouSingular;</li>
                      <li>Faça o upload do seu conteúdo;</li>
                      <li>E pronto! Seu conteúdo já estará disponível para venda em nossa plataforma.</li>
                    </ol>
                    <a class="btn btn-white btn-outline btn-lg" href="#" role="button" style="color: white">Comece agora</a>
                  </div>           
                </div>
            </div>
        </div>
      </section>
      <!-- container informação conteúdo fim -->
      <!-- <hr style="border-color: #e5e5e5; border-style:solid;"> -->
      <section id="testimonials" class="navy-section testimonials" style="margin-top: 80px;">
        <div class="container">
          <div class="row" style="height: 450px;">
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 text-center wow zoomIn" style="margin-top: 50px; color: #333;">
              <div class="testimonials-text" align="left">
                <h2 style="font-size: 25px; color: #333;">Acesse aos conteúdos quando quiser, onde quiser.</h2>
                <p>Não é necessário interromper a sua rotina para aprender ainda mais. Nossos conteúdo estão disponíveis no momento que quiser. Acesse os conteúdos da YouSingular seja no computador ou mobile.</p>
              </div>           
            </div>
            <div class="col-lg-4 col-lg-offset-3 col-md-6 col-sm-6 col-xs-12">
              <img class="img-responsive" src="<%= image_path('video-call.png') %>" style="width: auto; height: 330px;">
            </div>
          </div>
        </div>
      </section>
    <!-- rodapé início -->
      <footer>
        <div class="container">
          <div class="row text-center"> 
            <img class="logo2" src="<%= image_path('adm_school_logo_branca.png') %>">
          </div>
          <div class="row text-center">   
            <ul class="list-inline">     
              <li>
                <a href="<%= pages_index_path %>">Home</a>
              </li>
              <li>
                <a href="#">Quem somos</a>
              </li>
              <li>
                <a href="<%= new_conteudo_path %>">Torne-se um instrutor</a>
              </li>
              <li>
                <a href="<%= usuario_session_path %>">Fazer login</a>
              </li>
              <li>
                <a href="<%= new_usuario_registration_path %>">Cadastre-se</a> 
              </li>
              <p class = "footer-p">Copyright © 2018 - YouSingular</p>
            </ul>
          </div>  
        </div> 
      </footer>
    <!-- rodapé fim -->
  </body>
</html>
<style type="text/css">
  html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
  }

  body {
   
    background-color: #111;
  }
  .nav-container{
    font-size: 15px;
  }
  .bgimg{
    /*background-image: url('<%#= image_path('computer.jpg') %>');*/
    background-color: #222;
    background-size: cover;
    margin:0;
    padding: 0;
    width: 100%;
  }
  .bgimg2{
    background-image: url('<%= image_path('woman-computer.jpg') %>');
    background-size: cover;
    margin:0;
    padding: 0;
    width: 100%;
  }
  /*container torne-se instrutor style início*/
    .img-responsive{
      max-height: 350px;
      margin-bottom: 10px;
    }
    .container-conteudo{
      margin-top: 50px;
      margin-bottom: 50px;
      height: 250px;
      background-color: white;
      color: black;

    }
    .button:hover{
      border: white;
      border: 2px solid #676a6c;
    }
  .btn-white:hover{
    border: black;
    color: #333;
    border: 2px solid black;
  }
  /*container torne-se instrutor style fim*/
  /*rodapé style início*/
    .logo2{
      max-height: 80px;
      margin-bottom: 10px;
    }
    .footer-p{
      color: #fff;
      margin-top: 50px;
    }

    footer{
      background-color: #222;
      padding: 30px 0px;
      max-height: 220px;
    }

    footer .menu li a{
      color:#fff;
      padding:10px;
      text-decoration:none;
    }

    footer .menu li a:hover{
      color:#676a6c;
    }
  /*rodapé style fim*/
  /*navbar style início*/
    .container-fluid header{
      width: 100%;
    }
    .nav-bar{
      padding: 20px;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: white;
      z-index: 10;
    }
    .logo{
      max-height: 40px;
    }
    .nav-bar-link{
      text-decoration:none;
      color:#000;
      margin-right:20px;
      border: none;
      border-radius: 8px;
      background: #fff;
      padding: 10px !important;
      transition: all 500ms ease; 
    }
    .nav-bar-link:hover{
      text-decoration:none;
      color:#676a6c;
      border: 2px solid #676a6c;
      border-radius: 8px;
    }
  /*navbar style fim*/

  /*container style início*/
    .bgcontainer{
      background-image: url('<%= image_path('woman-laptop-mobile.jpg') %>');
      background-size: cover;
      margin:0;
      padding: 0;
      width: 100%;
    }
    .header-text{
      font-family: 'Open Sans', sans-serif;
      font-size: 40px;
    }
    .header-body{
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
    }
    .wrapper-overlay {
      height: 500px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
      display: grid;
      grid-template-columns: 10% auto;
      align-content: center;
      font-size: 200%;
      line-height: 200%;
    }

    .inner-content {
      grid-column: 2;
    }
  /*container style fim*/
</style>