<%= form_for(@autor_conteudo_conteudo) do |f| %>
  <% if @autor_conteudo_conteudo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@autor_conteudo_conteudo.errors.count, "error") %> prohibited this autor_conteudo_conteudo from being saved:</h2>

      <ul>
      <% @autor_conteudo_conteudo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :autor_conteudo_id %><br>
    <%= f.text_field :autor_conteudo_id %>
  </div>
  <div class="field">
    <%= f.label :conteudo_id %><br>
    <%= f.text_field :conteudo_id %>
  </div>
  <div class="field">
    <%= f.label :ativo %><br>
    <%= f.check_box :ativo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
