<p id="notice"><%= notice %></p>

<h1>Listing Autor Conteudo Conteudos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Autor conteudo</th>
      <th>Conteudo</th>
      <th>Ativo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @autor_conteudo_conteudos.each do |autor_conteudo_conteudo| %>
      <tr>
        <td><%= autor_conteudo_conteudo.nome %></td>
        <td><%= autor_conteudo_conteudo.autor_conteudo %></td>
        <td><%= autor_conteudo_conteudo.conteudo %></td>
        <td><%= autor_conteudo_conteudo.ativo %></td>
        <td><%= link_to 'Show', autor_conteudo_conteudo %></td>
        <td><%= link_to 'Edit', edit_autor_conteudo_conteudo_path(autor_conteudo_conteudo) %></td>
        <td><%= link_to 'Destroy', autor_conteudo_conteudo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Autor conteudo conteudo', new_autor_conteudo_conteudo_path %>
