<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @autor_conteudo_conteudo.nome %>
</p>

<p>
  <strong>Autor conteudo:</strong>
  <%= @autor_conteudo_conteudo.autor_conteudo %>
</p>

<p>
  <strong>Conteudo:</strong>
  <%= @autor_conteudo_conteudo.conteudo %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @autor_conteudo_conteudo.ativo %>
</p>

<%= link_to 'Edit', edit_autor_conteudo_conteudo_path(@autor_conteudo_conteudo) %> |
<%= link_to 'Back', autor_conteudo_conteudos_path %>
