<script type="text/javascript">
  $(document).ready(function() {
    //$("empresa_cnpj").mask("999.999.999-99");
    // $("empresa_telefone").mask("(99) 99999 - 9999");
  });
</script>
<%= form_for(@empresa) do |f| %>
  <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% @empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form class="form-horizontal">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label :nome, "Nome:" %> <e style="color: black">*</e>
          <%= f.text_field :nome, class: "form-control", :required => true %>
          </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <%= f.label :cnpj, "CNPJ:" %>
          <%= f.text_field :cnpj, class: "form-control"%>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group">
          <%= f.label :instituicao_ensino, "Instituição de Ensino?" %> <br>
          <%= f.check_box :instituicao_ensino%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label :email, "Email:" %> <e style="color: black">*</e>
          <%= f.text_field :email, class: "form-control", :required => true %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label :telefone, "Telefone:" %> <e style="color: black">*</e>
          <%= f.text_field :telefone, class: "form-control", :required => true %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <%= f.label :estado, "Estado:" %> <e style="color: black">*</e>
          <%= f.text_field :estado, class: "form-control", :required => true %>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <%= f.label :cidade, "Cidade:" %> <e style="color: black">*</e>
          <%= f.text_field :cidade, class: "form-control", :required => true %>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <%= f.label :bairro, "Bairro:" %> <e style="color: black">*</e>
          <%= f.text_field :bairro, class: "form-control", :required => true %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10">
        <div class="form-group">
          <%= f.label :endereco, "Endereço:" %> <e style="color: black">*</e>
          <%= f.text_field :endereco, class: "form-control", :required => true %>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group">
          <%= f.label :complemento, "Complemento:" %>
          <%= f.text_field :complemento, class: "form-control"%>
        </div>
      </div>
    </div>
    <div class="actions ">
      <%= button_tag(type: 'submit', class: "btn btn-white ", title: 'Salvar') do %>
        <i class="fa fa-save"></i> Salvar
      <% end %>
    </div>
  </form>
<% end %>
