<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title border-rsup">
          <div class="row">
            <div class="col-lg-1 col-sm-2 col-md-2 col-xs-2">
             <%= link_to '<i class="fa fa-reply"></i> Voltar'.html_safe, empresas_path, :class => 'btn btn-white', :title => 'Voltar' %>
            </div>
            <div class="col-lg-11 col-sm-10 col-md-10 col-xs-10">
              <h2 align="center">Visualizando Empresa</h2> 
            </div>
          </div>
        </div>
        <div class="ibox-content border-rinf">
          <p id="notice">
            <center class="alert-info">
              <%= notice %> 
            </center>
          </p>
          <div class="panel panel-default">
            <div class="panel-body">
              <p>
                <strong>Nome:</strong>
                <%= @empresa.nome %>
              </p>

              <p>
                <strong>Intituição de Ensino? </strong>
                <%= @empresa.instituicao_ensino == true ? "Sim" : "Não"%>
              </p>

              <p>
                <strong>CNPJ:</strong>
                <%= @empresa.cnpj %>
              </p>

              <p>
                <strong>Email:</strong>
                <%= @empresa.email %>
              </p>

              <p>
                <strong>Telefone:</strong>
                <%= @empresa.telefone %>
              </p>


              <p>
                <strong>Cidade:</strong>
                <%= @empresa.cidade %>
              </p>

              <p>
                <strong>Estado:</strong>
                <%= @empresa.estado %>
              </p>

              <p>
                <strong>Bairro:</strong>
                <%= @empresa.bairro %>
              </p>

              <p>
                <strong>Endereço:</strong>
                <%= @empresa.endereco %>
              </p>

              <p>
                <strong>Complemento:</strong>
                <%= @empresa.complemento %>
              </p>
            </div>
          </div>
          <div>
            <%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_empresa_path(@empresa), :class => 'btn btn-white  ', :title => 'Editar' %>
            <%= link_to '<i class="fa fa-plus"></i> Novo'.html_safe, new_empresa_path, :class => 'btn btn-white', :title => 'Novo' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>