<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="row">
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 ">
              <h4><%= link_to '<i class="fa fa-plus"></i> Novo'.html_safe, new_areas_conhecimento_path, :class => 'btn btn-white', :title => 'Novo Perfil de Acesso' %></h4>
            </div>
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11 ">
              <div style="text-align:center">
                <h2>Áreas de Conhecimento <span class="badge badge-primary"><%= @areas_conhecimentos.count %></span></h2>
              </div>
            </div>
          </div>
        </div>
        <p id="notice">
          <center class="alert-info">
            <%= notice %> 
          </center>
        </p>
        <% @areas_conhecimentos.each do |areas_conhecimento| %>

        <div class="col-md-4">
          <div class="ibox-content">
            <div class="row">
              <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
                <h2>
                  <%= areas_conhecimento.nome if !areas_conhecimento.nome.nil? %>
                </h2>
              </div>

              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
                <a class="dropdown-toggle btn btn-white" data-toggle="dropdown" href="#">
                  <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                  <li>
                    <%= link_to '<i class="fa fa-search"></i> Visualizar'.html_safe, areas_conhecimento, :title => 'Visualizar' %>
                  </li>
                  <li>
                    <%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_areas_conhecimento_path(areas_conhecimento), :title => 'Editar' %>
                  </li>
                  <li>
                    <%= link_to '<i class="fa fa-trash"></i> Deletar'.html_safe, areas_conhecimento, method: :delete, data: { confirm: 'Tem certeza?' }, :title => 'Deletar' %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>