<%= form_for(@dilema) do |f| %>
  <% if @dilema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dilema.errors.count, "error") %> prohibited this dilema from being saved:</h2>

      <ul>
      <% @dilema.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form class="form-horizontal">
    <div class="form-group">
      <%= f.label :nome, "Nome:" %> <e style="color: black">*</e><br>
      <%= f.text_field :nome, class: "form-control", :required => true %>
    </div>
    <div class="actions ">
      <%= button_tag(type: 'submit', class: "btn btn-white ", title: 'Salvar') do %>
        <i class="fa fa-save"></i> Salvar
      <% end %>
    </div>
  </form>
<% end %>