<div class="row border-bottom white-bg">
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <i class="fa fa-reorder"></i>
      </button>
      <a href="<%= pages_index_path %>" class="navbar-brand" title="Página inicial"><img alt="image"  src="<%= image_url 'adm_school_logo_branca.png' %>" style='height: 40px;margin-top: -10px;'></a>

        <%= form_tag(pages_busca_conteudo_path, :method => "get", class: 'navbar-form-custom') do %>  
          <div class="input-group">  
            <%= search_field_tag :search, params[:search], placeholder: "Procure um conteúdo", class: "form-control", style: "margin-left: 50px; margin-top: 10px;" %>  
            <div class="input-group-btn">  
              <%= button_tag "buscar", :class => 'btn btn-primary',:nome => nil, style: "margin-left: 50px; margin-top: 10px;" do %>  
                <i class="fa fa-search"></i>
              <% end %>
            </div>  
          </div>
        <% end %>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <%@pessoa_modulo = ModulosPessoa.where(pessoa_id: (Pessoa.select(:id).where(usuario_id:current_usuario.id)), ativo: true)%>
      <%if !@pessoa_modulo.blank?%>
        <!-- <#% if Modulo.find(session[:modulo_id]).nome == "Administrador"%> -->
        <%# if Modulo.find(session[:aluno]).nome == "Aluno"%>
          <!-- <ul class="nav navbar-nav"> -->
            <!-- <li class="dropdown">
              <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Aluno <span class="caret"></span></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="/empresas">Empresas</a></li>
                <li><a href="/modulos_pessoas">Módulos Pessoas</a></li>
                <li><a href="/empresas_pessoas">Empresas Pessoas</a></li>
              </ul>
            </li>
            </ul>
            <ul class="nav navbar-nav">
            <li class="dropdown">
              <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Desafios <span class="caret"></span></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="/areas_conhecimentos">Áreas de Conhecimento</a></li>
                <li><a href="/status_desafios">Status dos Desafios</a></li>
                <li class="divider"></li>
                <li><a href="/desafios_empresas/todos_desafios">Ver Desafios</a></li>
              </ul>
            </li> -->
         <!--  </ul> -->
        <%# end %>
        <!--<#% if !session[:geradorconteudo].blank? && Modulo.find(session[:geradorconteudo]).nome == "Gerador de conteúdo"%>
          <ul class="nav navbar-nav">
            <li >
              <a href= "<%= meus_cursos_path %>" class="btn btn-white" role="button" style="border: none;">Meus cursos</a>
            </li>
            <li>

              <#% if !session[:aluno].blank? && !session[:aluno].blank? %>
                <a href= "<%=  pages_painel_gerador_path %>" class="btn btn-white" role="button"  style="border: none;">Gerador de conteúdo</a>
              <#% else %>
                <a href= "<%= pages_landing_gerador_path %>" class="btn btn-white" role="button"  style="border: none;">Torne-se gerador de conteúdo</a>
              <#% end %>
            </li>
            <li id="botao_carrinho" style="margin-top: -6px;">
              <a href="<%= carrinhos_path %>" title="Carrinho" class= "a">
                <#% if !@busca_carrinho.blank? %>
                  <span class="badge badge-primary pull-right" style="margin-left: -15px;z-index: 60"><%#= @busca_carrinho.count %></span>
                <#% end %>
                <button class="btn btn-outline" type="button" title="Carrinho de compras"><i class="fa fa-shopping-cart" style="font-size:22px; margin-top: -3px; margin-left: 3px;display: block;"></i></button>
              </a>
            </li>
        <#% end %> -->
        <!--<#% if !session[:professor].blank? && Modulo.find(session[:professor]).nome == "Professor"%>
          <ul class="nav navbar-nav">
            <li>
              <a href= "<%= meus_cursos_path %>" class="btn btn-white" role="button" style="border: none;">Meus cursos</a>
            </li>
            <li>
              <#% if !session[:aluno].blank? && !session[:aluno].blank? %>
                <a href= "<%=  pages_painel_gerador_path %>" class="btn btn-white" role="button"  style="border: none;">Gerador de conteúdo</a>
              <#% else %>
                <a href= "<%=  pages_landing_gerador_path %>" class="btn btn-white" role="button"  style="border: none;">Torne-se gerador de conteúdo</a>
              <#% end %>
            </li>
            <li id="botao_carrinho" style="margin-top: -6px;">
              <a href="<%= carrinhos_path %>" title="Carrinho" class= "a">
                <#% if !@busca_carrinho.blank? %>
                  <span class="badge badge-primary pull-right" style="margin-left: -15px;z-index: 60"><%#= @busca_carrinho.count %></span>
                <#% end %>
                <button class="btn btn-outline" type="button" title="Carrinho de compras"><i class="fa fa-shopping-cart" style="font-size:22px; margin-top: -3px; margin-left: 3px;display: block;"></i></button>
              </a>
            </li>
        <#% end %> -->
        <% if !session[:empresa].blank? && Modulo.find_by(nome: session[:empresa]).nome == "Empresa" %>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Empresa <span class="caret"></span></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="/empresas">Empresas</a></li>
                <!-- <li><a href="/empresas_pessoas">Empresas Pessoas</a></li> -->
                <li><a href="/desafios_empresas">Lançar Desafios</a></li>
              </ul>
            </li>
          </ul>
        <%end%>
      <%end%>
      <ul class="nav navbar-right">
        <%@pessoa = Pessoa.find_by(usuario_id: current_usuario.id, ativo: true)%>
        <%if !@pessoa_modulo.blank? && session[:aluno]%>
          <!-- <#% if Modulo.find(session[:modulo_id]).nome == "Administrador"%> -->
          <% if Modulo.find(session[:aluno]).nome == "Aluno"%>
            <ul class="nav navbar-nav">
              <li >
                <a href= "<%= canais_path %>" class="btn btn-white" role="button" style="border: none;">Canais</a>
              </li>
              <li >
                <a href= "<%= meus_cursos_path %>" class="btn btn-white" role="button" style="border: none;">Meus conteúdos</a>
              </li>
              <li>
                <% if !session[:geradorconteudo].blank? %>
                  <!-- <a href= "<%#=  pages_painel_gerador_path %>" class="btn btn-white" role="button"  style="border: none;">Gerador de conteúdo</a> -->
                  <%= link_to 'Gerador de conteúdo'.html_safe, pages_painel_path, :class => 'btn btn-white', :style => 'border: none;'%>
                <% else %>
                  <a href= "<%=  pages_landing_gerador_path %>" class="btn btn-white" role="button"  style="border: none;">Torne-se gerador de conteúdo</a>
                <% end %>
              </li>
              <li id="botao_carrinho" style="margin-top: -6px;">
                <a href="<%= carrinhos_path %>" title="Carrinho" class= "a">
                  <% if !@busca_carrinho.blank? %>
                    <span class="badge badge-primary pull-right" style="margin-left: -10px;z-index: -60;"><%= @busca_carrinho.count %></span>
                  <% end %>
                  <button class="btn btn-outline" type="button" title="Carrinho de compras"><i class="fa fa-shopping-cart" style="font-size:22px; margin-top: -3px; margin-left: 3px;display: block;"></i></button>
                </a>
              </li>
            <%end%>
          <%end%>
        <%if !@pessoa.blank?%>
          <li class="dropdown">
            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= @pessoa.nome%> <span class="caret"></span></a>
            <ul role="menu" class="dropdown-menu">
              <li>
                <a href="/pessoas/<%= @pessoa.id %>"><i class="fa fa-user"></i> Perfil</a>
              </li>
              <li>
                <a href="/modulos_pessoas/escolher_modulo"><i class="fa fa-home"></i> Módulos</a>
              </li>
              <li>
                <%= link_to '<i class="fa fa-sign-out"></i> Sair'.html_safe, destroy_usuario_session_path%>
              </li>
            </ul>
          </li>
          </ul>
        <%else%>
          <li>
            <%= link_to '<i class="fa fa-sign-out"></i> Sair'.html_safe, destroy_usuario_session_path%>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>