<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ADM SCHOOL</title>
  <%= favicon_link_tag image_path('adm-icone.ico') %>
  <%#= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #fff">
  <div class="loginColumns animated fadeInDown">
      <div class="row">
        <div class="col-md-6">
          <img alt="image"  src="<%= image_url 'adm_school_logo.png' %>" style='width:100%;'>
        </div>
        <div class="col-md-6">
          <%= yield %>
          <%= yield :javascript %>      
        </div>
      </div>
    </div>
  </div>
</body>
</html>

